{% extends "core/alerts.html" %}

{% load render_table from django_tables2 %}

{% if filter %}
    {% load crispy_forms_tags %}
    {% block extra_js %}
        {{ filter.media }}
        {{ filter.form.media }}
    {% endblock %}
{% endif %}

{% block content %}
    {{ block.super }}

    <div id="order-list" class="monthly-orders">

        <h2 style="margin-top: 1em;">{{ alert_title }}</h2>

        {% if message %}
            <div class="alert alert-info">{{ message }}</div>
        {% endif %}

        {% if filter %}
            <!-- Filter Form -->
            {% crispy filter.form filter.helper %}
        {% endif %}

        {% render_table table %}

    </div>
{% endblock %}
