
{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Alerts Page{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
{% endblock %}

{% block page_title %}Alerts Dashboard{% endblock page_title %}

{% block content %}
  <ul class="nav nav-pills">
    {% url 'alerts_main' as alerts %}
    {% url 'alerts_missing_orders' as missed_orders %}
    {% url 'alerts_special_orders' as special_orders %}
    {% url 'open_balance_orders' as open_balance_orders %}
    {% url 'alerts_orders_ready_for_delivery' as orders_ready_for_delivery %}

    <li role="presentation" class="{% ifequal request.path special_orders %}active{% endifequal %} -btn"><a
      href="{{ special_orders }}">Active Special Orders</a></li>
    <li role="presentation" class="{% ifequal request.path missed_orders %}active{% endifequal %} -btn"><a
        href="{{ missed_orders }}">Missed Orders</a></li>
    <li role="presentation" class="{% ifequal request.path alerts %}active{% endifequal %} -btn"><a href="{{ alerts }}">Unplaced
      Orders</a></li>
    <li role="presentation" class="{% ifequal request.path open_balance_orders %}active{% endifequal %} -btn"><a
        href="{{ open_balance_orders }}">Orders with Balance Due</a></li>
    <li role="presentation" class="{% ifequal request.path orders_ready_for_delivery %}active{% endifequal %} -btn"><a
        href="{{ orders_ready_for_delivery }}">Ready For Delivery</a></li>
  </ul>
{% endblock %}
