{% extends "core/alerts.html" %}

{% load render_table from django_tables2 %}

{% block content %}
    {{ block.super }}

    <div id="order-list" class="monthly-orders">

        <h2>{{ alert_title }}</h2>

        <script>

            (function () {
                var data = [
                    {associate_name: "Lana", paid: false, paid_date: "", comments: ""},
                    {associate_name: "Pearl", paid: true, paid_date: "2016-01-01", comments: "Paid commission"},
                ];

                var obj = {
                    height: 200,
                    width: '70%',
                    hwrap: false,
                    rowBorders: false,
                    virtualX: true,
                    track: true, //to turn on the track changes.
                    ngModel: {compileToolbar: true},
                    editable: false,
                    colModel: [
                        {title: "ID", editable: false, dataType: "integer", dataIndx: "id"},
                        {title: "Associate", editable: false, dataType: "string", dataIndx: "associate_name"},
                        {title: "Paid", editable: false, dataType: "boolean", dataIndx: "paid"},
                        {title: "Paid Date", editable: false, dataType: "date", dataIndx: "paid_date"},
                        {title: "Comments", editable: false, dataType: "string", dataIndx: "comments"},
                        {
                            title: "Edit",
                            minWidth: 100,
                            template: '<button class="btn btn-info" ng-click="editRow(rd)">Edit</button>\
                        <button class="btn btn-warning" ng-click="deleteRow(ri)">Delete</button>'
                        }
                    ],

                    resizable: true,
                    title: "Commissions",
                    scrollModel: {autoFit: true},
                    //showTop: true,
                    //showToolbar: true,
                    stripeRows: true,
                    /*toolbar: {
                     items:[{
                     type:'button',
                     icon: 'ui-icon-plus',
                     label: 'New Commission',
                     attr: "ng-click='addRow(grid)'"
                     }]
                     },*/
                    change: function (evt, ui) {
                        console.debug("Change Event: " + evt.toString() + " " + ui.toString());
                    },
                    editor: {select: true},
                    //pageModel: { type: "local", rPP: 20, rPPOptions: [10, 15, 50, 500], strDisplay: "{0} to {1} of {2}" },
                    /*dataModel: {
                     //data: data
                     location: "remote",
                     recIndx: "id",
                     dataType: "JSON",
                     url: "/api/commissions/?order={{ order.pk }}",
                     getData:function( dataJSON, textStatus, jqXHR ) {
                     return {curPage: 1, totalRecords: dataJSON.count, data: dataJSON.results}
                     }

                     }*/
                    dataModel: {
                        data: 'commissions.data',
                        contentType: 'application/json; charset=UTF-8',
                        dataType: 'JSON'
                    }
                };

                angular.module('myApp', ['pq.grid', 'ngResource'])
                    .config(function ($interpolateProvider) {
                        $interpolateProvider.startSymbol('{[{');
                        $interpolateProvider.endSymbol('}]}');
                    })
                    .factory('Commission', function ($resource) {
                        return $resource('/api/commissions/:id', {}, {
                            'query': {method: 'GET', isArray: false}
                        });
                    })
                    .controller('gridCtrl', function ($scope, Commission) {
                        /*obj.create = function() {
                         var grid = obj.grid;
                         };
                         $scope.gridModel = obj;
                         $scope.addRow = function( grid ){
                         console.debug("Add Row triggered");
                         var rowData = {associate: "", paid:false, paid_date:"", comments:""}; //empty row
                         var rowIndx = grid.addRow({ rowData: rowData });
                         grid.goToPage({ rowIndx: rowIndx });
                         grid.editFirstCellInRow({ rowIndx: rowIndx });
                         };*/
                        //-----------------------------------------------------------


                        var newRow, grid;
                        obj.create = function () {
                            //save reference to grid api.
                            grid = $scope.gridOptions.grid;
                            console.debug("Grid created");
                        };
                        $scope.commissions = {data: data};
                        $scope.showForm = false;

                        var commissions = Commission.query(
                                {paid:false}
                        ).$promise.then(function (res) {

{#                            angular.forEach(res.results, function(commission) {#}
{#                                commission.paid_date = new Date(commission.paid_date);#}
{#                            });#}
                            $scope.commissions = {data: res.results}; //[{associate_name: "Lana", paid:false, paid_date:"", comments:""}]}; //{data: res.results };
                            console.log(res);
                        });

                        $scope.editRow = function (rd) {
                            newRow = false;
                            $scope.master = $scope.curCommission; //rd;//save reference to the row.
                            rd.paid_date = new Date(rd.paid_date);//$.datepicker.formatDate("M d, yy", new Date("2014-07-08T09:02:21.377"));

                            //$scope.rd = {};
                            $scope.curCommission = new Commission(/*{
                                'associate':rd.associate,
                                'order':rd.order,
                                'paid': rd.paid,
                                'paid_date': new Date(rd.paid_date),
                                'comments': rd.comments
                            }*/rd);
                            $scope.reset();
                        };
                        $scope.addRow = function () {
                            newRow = true;
                            $scope.master = {};
                            $scope.rd = {};
                            $scope.reset();
                        };
                        $scope.deleteRow = function (ri) {
                            $scope.showForm = false;
                            window.confirm("Are you sure?") && $scope.commissions.data.splice(ri, 1);
                        };
                        $scope.save = function () {
                            if (newRow) {//new row.
                                $scope.commissions.data.push($scope.curCommission);
                            }
                            else {//edit row.
                                angular.copy($scope.curCommission, $scope.master);
                                //no need to call refreshRow if cell templates are used in all columns.
                                grid.refreshRow({rowIndx: grid.getRowIndx({rowData: $scope.master}).rowIndx});
                            }
                            $scope.showForm = false;
                        };
                        $scope.reset = function () {
                            $scope.showForm = true;
                            //angular.copy($scope.master, $scope.rd);
                            $scope.form.$setPristine();
                            $scope.form.$setUntouched();
                        };

                        $scope.gridOptions = obj;


                    });
            })();

        </script>
        <br/><br/>

        <div ng-app="myApp">
            <div ng-controller="gridCtrl">

                <div style="float:left;width:55%;">
                    <button class="btn btn-info" ng-click="addRow()">Add Row</button>
                    <div pq-grid="" options="gridOptions" style="margin:auto;margin-top:10px;"></div>
                </div>

                <div style="float:right;width:44%;padding-top:100px;">
                    <form name="form" class="css-form" ng-show="showForm" ng-cloak="" novalidate="">
                        <table align="center" class="table table-condensed">
                            <tbody>
                            <tr>
                                <td>Associate:</td>
                                <td><input type="text" ng-model="curCommission.associate_name" name="associate_name" required="">
                                    <span ng-show="form.associate_name.$touched &amp;&amp; form.associate_name.$invalid">Required!</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Paid Status:</td>
                                <td><input type="checkbox" ng-model="curCommission.paid" name="paid">
                                </td>
                            </tr>
                            <tr>
                                <td>Paid Date:</td>
                                <td><input type="date" ng-model="curCommission.paid_date" name="paid_date" required="">
                                    <span ng-show="form.paid_date.$touched &amp;&amp; form.paid_date.$invalid">Date required!</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Comments:</td>
                                <td><textarea ng-model="curCommission.comments" name="comments" rows="2"></textarea>
                                    <span ng-show="form.comments.$touched &amp;&amp; form.comments.$invalid">Invalid text!</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    <button ng-click="save()" class="btn" ng-disabled="form.$invalid || !form.$dirty">
                                        Save
                                    </button>
                                    <button ng-click="reset()" class="btn" ng-disabled="!form.$dirty">Reset</button>
                                    <button ng-click="showForm = false;" class="btn">Cancel</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </form>
                </div>

            </div>
        </div>

        {% render_table table %}

    </div>
{% endblock %}
