{% extends "core/alerts.html" %}

{% block content %}
    {{ block.super }}

    <div id="order-list" class="monthly-orders">

        <h2>{{ alert_title }}</h2>

        {% if message %}
            <div class="alert alert-info">{{ message }}</div>
        {% endif %}

        <!-- Missing Orders -->
        {% if missed_orders %}
            <p>The following orders are missing from FurniCloud: </p>
            <table class="table table-bordered">
                <tbody>
                {% for o in missed_orders %}
                    <tr>
                        <td>
                            {{ o }}
                        </td>
                        <td>
                            <a href="{% url 'order_add' %}?order={{ o | slice:"1:" | urlencode }}&order_type=quote" class="btn btn-primary btn-default">
                                <span class="glyphicon glyphicon-plus"></span> Add Quote
                            </a>
                            <a href="{% url 'order_add' %}?order={{ o | slice:"1:" | urlencode }}&order_type=stock" class="btn btn-primary btn-default">
                                <span class="glyphicon glyphicon-plus"></span> Add In-Stock
                            </a>
                            <a href="{% url 'order_add' %}?order={{ o | slice:"1:" | urlencode }}&order_type=special_order" class="btn btn-primary btn-default">
                                <span class="glyphicon glyphicon-plus"></span> Add SO
                            </a>
                            <span style="padding: 0 5px">|</span>
                            <a href="{% url 'order_add' %}?order={{ o | slice:"1:" | urlencode }}&order_type=cabinetry" class="btn btn-primary btn-default">
                                <span class="glyphicon glyphicon-plus"></span> Add Cabinetry
                            </a>
                            <a href="{% url 'order_add' %}?order={{ o | slice:"1:" | urlencode }}&order_type=cabinetry_quote" class="btn btn-primary btn-default">
                              <span class="glyphicon glyphicon-plus"></span> Add Cabinetry Quote
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>All caught up! There are no missing orders.</p>
        {% endif %}

    </div>
{% endblock %}
