{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}
{% load cache_bust %}
{% block title %}{% endblock title %}

{% block page_title %}{%endblock page_title %}

{% block extra_js %}
<script src="{% static 'js/iframeResizer.min.js' %}"></script>

<script type="text/javascript">
  $(function () {
      $(document).ready(function () {
          iFrameResize({
              {#log:true,#}
              checkOrigin:false
          });

      });
  });
</script>

{% endblock %} {% block content %}

<br />
<style>
  iframe {
    width: 1px;
    min-width: 100%;
    position: absolute;
    left: 0;
  }
</style>
{% if WEB_UI_URL %}
<iframe
  src="{{ WEB_UI_URL }}?{% cache_bust %}"
  class="iframe"
  scrolling="no"
  marginheight="0"
  frameborder="0"
  style="height: 1200px; background-color: #fff"
>
</iframe>
{% endif %} {% endblock content %}
