.field-wrapper {
    margin-right: 25px;
}

.field-wrapper.inline {
    float: left;
}

.inline {
    display: inline;
}

.clear {
    clear: both;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.align-bottom {
    vertical-align: bottom;
}
.fieldset-inline {
    display: inline;
}

div.search {
    padding-top: .3em;
    float: right;
}

div.search form {
    margin: 0
}
.navbar-default .navbar-right {
    margin-right:0;
}

/* ORDER FORM */
#createOrderAside {
    position: relative;
    float: right;
    bottom: 3em;
}

div.order-comments-wrapper {
    clear: both;
}

#id_comments, #id_delivery_person_notes {
    width: 100%;
    height: 100px;
    background: lightgrey;
}

#deliveries textarea {
    width: 600px;
    height: 80px;
}

.results_on_deck {
    font-size: 1.25em;
}

.results_on_deck .ui-icon-trash {
    margin-right: 5px;
}

#orderItemsTable {
    border-collapse: collapse;
}
input.order-item-desc {
    /*width: 500px;*/
}
select.order-item-status {
    width:10em;
}

.order-totals-wrapper {
    font-size: 1.3em;
    font-weight: bold;
    font-family: courier new, monospace;
    margin-top: 1em;
}

#balance-due {
    color: red;
    border-color: red;
}

.order-totals-wrapper > span {
    margin-right: 1em;
}

.totals-amount {
    background: none repeat scroll 0 0 #000000;
    border: 3px solid #24D830;
    color: #24D830;
    margin-left: 0.3em;
    padding: 5px 10px;
}

.order-issues-comment textarea {
    height: 100px;
}

/* /ORDER FORM */

/* ORDER LIST */
#order-list,
#order-list div.table-container,
#order-list div.table-container > table {
    width: 100%;
}

#monthly-sales-report, #totals-ytd {
    float: left;
}

#monthly-sales-report {
    padding-right: 20px;
}

#totals-ytd {
    margin-top: 30px;
    clear: left;
}

#ytd-sales-report {
    clear: both;
}

/* ORDER FILTER */
form#orderMonthsRangeForm {
    display:flex;
    gap:0.5em;
}
#order-filter .form-group {
    margin-right: 5px;
}

#order-filter .sr-only {
    position: initial;
    width: auto;
    height: auto;
}

#order-filter .form-control {
    display: block;
}

#order-filter .btn {
    margin-top: 18px;
}

/* \ORDER FILTER */

#totals {
    padding: 2em 0;
}

#totals > div {
    float: left;
    margin-left: 2em;
}

#totals-assoc {
    clear: both;
    padding-top: 20px;
}

#pager {
    padding-bottom: 3em;
}

#associate-order-tabs {
    margin-top: 40px;
}
#order-list table tr[data-balance-due="y"] td.balance_due {
    background-color: #ffced8;
}
#order-list table tr[data-order-status="N"] td[data-title="Status"] {
    background-color: yellow;
}
#order-list table tr[data-order-status="D"] td[data-title="Status"], #order-list table tr[data-order-status="C"] td[data-title="Status"] {
    background-color: lightgreen;
}
#order-list table tr[data-order-status="Q"] td[data-title="Status"],
#order-list table tr[data-order-status="H"] td[data-title="Status"],
#order-list table tr[data-order-status="P"] td[data-title="Status"],
#order-list table tr[data-order-status="NEW_SO"] td[data-title="Status"],
#order-items-table tr.item-pending td[data-title="Status"] {
    background-color:#ff7b7d ;
}
#order-list table tr[data-order-status="T"] td[data-title="Status"],
#order-list table tr[data-order-status="R"] td[data-title="Status"],
#order-list table tr[data-order-status="S"] td[data-title="Status"] {
    background-color: #f3d17a;
}
#order-list table tr[data-order-status="X"] td[data-title="Status"], #order-list table tr[data-order-status="QUOT"] td[data-title="Status"],
#order-list table tr[data-order-status="E"] td[data-title="Status"] {
    background-color: lightgrey;
}
/* \ORDER LIST */

.field-wrapper {
    margin-right: 25px;
}

.field-wrapper.inline {
    float: left;
}

.inline {
    display: inline;
}

.clear {
    clear: both;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.fieldset-inline {
    display: inline;
}

div.search {
    padding-top: .3em;
    float: right;
}

div.search form {
    margin: 0
}
.navbar-default .navbar-right {
    margin-right:0;
}

/* ORDER FORM */
#createOrderAside {
    position: relative;
    float: right;
    bottom: 3em;
}

div.order-comments-wrapper {
    clear: both;
}

/* ORDER DETAIL */
#order-notes-table tr.order-note-alert {
    background-color: yellow;
}
/* \ORDER DETAIL */

/* ORDER REPORTS */
#dateRangeFilter {
    width: 750px;
}

#dateRangeFilter .control-group {
    display: inline-block;
    margin-left: 15px;
}

.slice text {
    font-size: 16pt;
    font-family: Arial, sans-serif;
}

#totals-ytd td.total {
    font-weight: bold;
    font-size: larger;
}

#month-employee-container {
    position: absolute;
    right: 100px;
    top: 100px;
    z-index: -1;
}

#month-employee-container h3 {
    position: absolute;
    top: 30px;
    width: 271px;
    font-family: Georgia, serif;
    text-transform: uppercase;
    text-align: center;
}

#month-employee-container span.line1 {
    display: block;
    font-size: 1.2em;
    text-align: center;
    /* letter-spacing: -2px; */
}

#month-employee-container span.line3 {
    display: block;
    text-align: center;
    font-size: 1.3em;
}

#month-employee-container span.line4 {
    margin-top: 10px;
    display: block;
    font-style: italic;
}

#month-employee-container div {
    position: absolute;
    bottom: 150px;
    width: 271px;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    color: #E7585B;
}

table[data-table-class=sales-table] tr:nth-child(1) td.associate:before {
    content: url("/static/images/star.png");
    margin-right: 2px;
}

table.sales-table tr:nth-child(1) td.associate {
    font-weight: 700;
}

/* \ORDER REPORTS */

a.delete-row {
    float: right;
    position: relative;
    color: red;
    background: pink;
    border-radius: 5px;
    padding: .2em .5em;
    bottom: 2.2em;
}

a.delete-row-tr {
    float: right;
    position: relative;
    color: red;
    top: 10px;
    margin-bottom: 5px;
    padding: .2em .5em;
}

#orderIssuesTable a.add-row, #orderPaymentsTable a.add-row, table.dataTable a.add-row {
    float: right;
    font-size: 20px;
    margin: 10px 0;
}

#orderPaymentsTable textarea, #orderTrackingTable textarea {
    height: 70px;
}

.checkbox-middle {
    margin-top: 30px;
}

/* CLAIMS BEGIN */
.claim-desc-comment textarea {
    height: 10em;
}

#photos-fieldset a.delete-row {
    bottom: 0;
}

#claimStatusTable .claim-status-desc {
    display: inline-block;
}

#claimStatusTable a.add-row {
    float: right;
}

#claimStatusTable a.deleteStatusRow-tr {
    color: red;
    padding: .2em .5em;
}

/* CLAIMS END */

/* COMMISSIONS BEGIN */
#commissions-filter input[type="submit"] {
    margin-top:1.3em;
}
table tr[data-commission-status="PAID"] td.commission_status {
    background-color: #abefab;
}
table tr[data-commission-status="CLAIMED"] td.commission_status {
    background-color: yellow;
}
table tr[data-commission-status="INELIGIBLE"] td.commission_status {
    background-color: pink;
}
table tr[data-manager-commission-flag="True"] td {
    background-color: #e8e8e8;
}
table tr[data-manager-commission-flag="True"] td:nth-child(1):after {
    content: "\A(manager)";
    display: block;
    font-weight: bold;
    font-size: .8em;
}
table tr[data-manager-commission-flag="True"] td.commission_status {
    background-color: #cbdeef;
}
th.commission_status {
    width: 1.2em;
}
td.commission_status {
    font-size: .8em;
}
input.form-control.autopopulated {
    background:yellow;
    font-weight: bold;
}
.commissions-form.form-inline .form-group {
    margin-right: 0;
}
/* \COMMISSIONS END */

a.order_status {
    color:#555555;
    border-bottom: 1px dotted #444;
}
.referral-text {
    padding-top: .5em;
    float: right;
}

.order-types-container fieldset {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}
.order-types-container fieldset a {
    flex-grow: 1;
    margin: 0.4em 0;
    text-align: left;
    font-size: 1.5em;
}

.datepicker {
    z-index: 10000 !important;
}
