{% extends "base.html" %}

{% load static %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load bootstrap3 %}
{% load extras %}

{% block title %}Order List {% if list_label %}{{ list_label }}{% endif %}{% endblock title %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}"/>
{% endblock %}

{% block extra_js %}
<!--MEDIA-->
{{ filter.media }}
{{ filter.form.media }}
{% endblock %}

{% block page_title %} {% if list_label %}{{ list_label }} {% endif %}{% endblock page_title %}

{% block header_bottom %}
{% include "partial/_sales_totals_links.html" %}
{% endblock %}

{% block content %}

<div id="order-list" class="monthly-orders">

  <!-- Filter Form -->
  {%comment %}
  {% crispy filter.form filter.helper %}
  {% endcomment %}

  <div class="panel panel-default">
    <div class="panel-body">
      <form class="form-inline filter-form">
        {{ filter.form.management_form }}
        {{ filter.form.id }}

        <div class="row">
          <div class="col-md-3">
            {% bootstrap_label "Delivery Date From/To" %}
            {% bootstrap_field filter.form.delivered_date_from show_label=False %}
            {% bootstrap_field filter.form.delivered_date_to show_label=False %}
          </div>

          <div class="col-md-3">
            {% bootstrap_label "Order Date From/To" %}
            {% bootstrap_field filter.form.order_date_from show_label=False %}
            {% bootstrap_field filter.form.order_date_to show_label=False %}
          </div>
          <div class="col-md-3">
            {% bootstrap_field filter.form.order_type %}
          </div>
          <div class="col-md-2">
            {% bootstrap_field filter.form.commissions__associate %}
          </div>
          <div class="col-md-1">
            <button type="submit" class="btn btn-primary btn-lg">Filter</button>
          </div>
        </div>

      </form>
    </div>
  </div>


  {% render_table table %}

  <strong>Total {{ order_subtotals.count }} orders </strong> <br/><br/>

  <span style="padding: 7px 10px 7px 0; font-size:1.3em"><strong>Subtotal After Discount:</strong> {{ order_subtotals.subtotal | dollars }}</span>
  <span style="padding: 7px 10px; font-size:1.3em"><strong>Grand Total:</strong> {{ order_subtotals.grand_total| dollars }}</span>
  <span style="padding: 7px 10px; font-size:1.3em"><strong>Total Balance Due:</strong> {{ order_subtotals.balance_due| dollars }}</span>

</div>

{% endblock %}
