{% extends "base.html" %}

{% comment %}
{% load bootstrap_toolkit %}
{% endcomment %}

{% load bootstrap3 %}

{% block title %}Update Delivery Info | Order #{{ delivery.order.number }}{% endblock %}

{% block page_title %}Update Delivery Info | Order #{{ delivery.order.number }}{% endblock page_title %}

{% block extra_js %}
  <script type="text/javascript">
      $(function() {
        $(document).ready(function() {
          
        });
      })
  </script>

  {{ form.media }}
  
{% endblock %}

{% block extra_css %}  
{% endblock %}

{% block content %}

<form action="" method="POST" enctype="multipart/form-data" role="form" class="form">
  {% csrf_token %}
  
  {{ form.management_form }}
  {{ form.non_form_errors }}

    <div class="row">      
      <div class="col-md-3">
         {% bootstrap_field form.order %}
      </div>

      <div class="col-md-3">
        {% bootstrap_field form.delivery_type %}
      </div>

      <div class="col-md-3">
        {% bootstrap_field form.scheduled_delivery_date %}
      </div>

      <div class="col-md-3">
        {% bootstrap_field form.pickup_from %}
      </div>

    </div>

    <div class="row">
        <div class="col-md-2">
          {% bootstrap_field form.delivered_date %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
          {% bootstrap_field form.delivery_slip %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
          {% bootstrap_field form.comments %}
        </div>
    </div>

     <div class="row">
        <div class="col-md-8">
          {% bootstrap_field form.delivery_person_notes %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
          {% bootstrap_field form.delivery_cost %}
        </div>
        <div class="col-md-3">
          {% bootstrap_field form.paid %}
        </div>
    </div>


  {% buttons submit='Save' %}{% endbuttons %}

</form>

{% endblock content %}
