{% extends "base.html" %}

{% load extras %}
{% block title %}Delivery Details for Order: {{ delivery.order }}{% endblock %}

{% block page_title %}Delivery Details for Order # {{ delivery.order.number }}{% endblock page_title %}

{% block content %}

    <div class="well">
        {% if perms.orders.change_orderdelivery %}
            <a href="{% url 'delivery_edit' delivery.pk %}" title="Update Delivery">Update Delivery</a>
        {% endif %}
        {% if perms.orders.delete_orderdelivery %}
            |  <a href="{% url 'delivery_delete' delivery.pk %}" title="Delete Delivery">Delete this Delivery</a>
        {% endif %}
    </div>
    <hr/>

    <h3>Delivery Details</h3>
    <table id="order-deliveries-table" cell-spacing="0" cell-padding="0">
        <tr>
            <td>Order#</td>
            <td>{{ delivery.order.number }} {% if perms.orders.view_orders %}|
                <a href={% url 'order_detail' delivery.order.pk %} title="View Order">View</a>{% endif %}</td>
        </tr>
        <tr>
            <td>Delivery Scheduled Date:</td>
            <td>{{ delivery.scheduled_delivery_date|date:'j F, Y'}}</td>
        </tr>
        <tr>
            <td>Delivered Date:</td>
            <td>{{ delivery.delivered_date|date:'j F, Y'}}</td>
        </tr>
        <tr>
            <td>Delivery type/by:</td>
            <td>{{ delivery.get_delivery_type_display|upper }}</td>
        </tr>
        <tr>
            <td>Delivery Cost:</td>
            <td>{{ delivery.delivery_cost|dollars }}</td>
        </tr>
        <tr>
            <td>Delivery Fee Paid:</td>
            <td>{{ delivery.paid|yesno:"Yes,No" }}</td>
        </tr>
        <tr>
            <td>Pick up from:</td>
            <td>{{ delivery.pickup_from }}</td>
        </tr>
        <tr>
            <td>Delivery Slip:</td>
            <td><a href="{{ MEDIA_URL }}{{ delivery.delivery_slip }}">{{ delivery.delivery_slip_filename }}</a></td>
        </tr>
        <tr>
            <td>Associate Comments</td>
            <td>{{ delivery.comments }}</td>
        </tr>
    </table>

{% endblock content %}
