{% extends "base.html" %}

{% load static %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load bootstrap3 %}

{% block title %}Kitchen/Cabinetry Orders for {{ month|date:'b, Y'}} {% endblock title %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}"/>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(function () {
            $(document).ready(function () {
                $("#orderMonthsRangeForm").on('submit', function (e) {
                    e.preventDefault();
                    var year = $(this).find('select[name="year"]').val();
                    var month = $(this).find('select[name="month"]').val();
                    var pathNameArr =  window.location.pathname.split("/");
                    window.location = "/" + pathNameArr[1] + "/" + pathNameArr[2] + "/" + year + "/" + month;
                });
            });
        });
    </script>
{% endblock %}

{% block page_title %}{{ title }} | {{ month|date:'F, Y'}} {% endblock page_title %}

{% block content %}


    {% if perms.orders.add_order %}
        <aside id="createOrderAside">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                New Order
            </button>
        </aside>
    {% endif %}

    <div id="order-list" class="monthly-orders">

        <form name="order-date-range" id="orderMonthsRangeForm" class="form" style="margin-bottom:10px">
            <select name="year">
                {% for y in years_list %}
                    <option value="{{ y }}" {% if current_year == y %}selected="selected"{% endif %}
                            class="form-control">{{ y }}</option>
                {% endfor %}
            </select>

            <select name="month">
                {% for m in months_list %}
                    <option value="{{ m.0 }}" {% if current_month == m.0 %}selected{% endif %}
                            class="form-control">{{ m.1 }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Submit" class=""/>
        </form>

        <!-- Filter Form -->
        {% crispy filter.form filter.helper %}

        {% render_table table %}

    </div>

    {% include "partial/_order_create_modal.html" %}


{% endblock %}
