{% extends "base.html" %}

{% load extras %}

{% block title %}{{ object }}{% endblock %}

{% block actions %}
<div class="well hidden-print">
    {% if perms.orders.change_order %}
    <a href="{% url 'order_edit' object.pk %}" class="btn btn-default" title="Edit">
        <span class="glyphicon glyphicon-pencil"></span> Edit Order
    </a>
    {% endif %}
    {% if perms.orders.delete_order %}
    <a href="{% url 'order_delete' object.pk %}" class="btn btn-default" title="Delete Order">
        <span class="glyphicon glyphicon-trash"></span> Delete
    </a>
    {% endif %}
    <a href="{% url 'order_history' order.pk %}" class="btn btn-default"><span
            class="glyphicon glyphicon-floppy-disk"></span> Order Update Log </a>

    <button type="button" class="btn btn-primary btn-default" data-toggle="modal" data-target="#myModal"
            style="margin:1em 0">
        Change Order Type
    </button>
    <br/>

</div>
{% endblock %}

{% block page_title %}
<p class=text-center">Order #{{ order.number }} |
    {% if order.is_quote %}
    QUOTE -
    {% endif %}
    {{ order.get_order_type_display }}
</p>
{% endblock page_title %}

{% block content %}

{% if order.not_placed %}
<div class="alert alert-warning">Order has not been placed: some item(s) don't have PO# !</div>
{% endif %}

<br/>

<div class="panel panel-default">
    <div class="panel-body">

        <div class="col-md-2">
            <h5>Order Date:</h5>
            {{ order.order_date|date:'j F, Y'}}
        </div>
        <div class="col-md-2">
            <h5>Status:</h5>
            {{ order.get_status_display|upper }}
            {% ifequal order.status 'D' %}
            <br/> ({{ order.delivered_date | date:'j F, Y' }})
            {% endifequal %}

        </div>
        <div class="col-md-2">
            <h5>Store:</h5>
            {{ order.store }}
        </div>
        <div class="col-md-5">
            <h5>Commissions:</h5>
            {% if order.commissions.regular.count %}
            <table class="table">
                {% for commission in order.commissions.regular %}
                <tr>
                    <td>
                        {{ commission.associate.first_name }} {{ commission.associate.last_name }}
                    </td>
                    <td>
                        {{ commission.portion_percentage | floatformat:0 }}%
                    </td>
                    <td>
                        {{ commission.get_status_display | upper }}
                    </td>
                    <td>
                        {% ifequal commission.status 'PAID' %}
                        ({{ commission.paid_date | date:'j F, Y' }})
                        {% endifequal %}
                    </td>
                    <td>
                        <a href="{% url 'commission_detail' commission.pk %}" class="btn btn-default btn-sm hidden-print">
                            <span class="glyphicon glyphicon-folder-open"></span>&nbsp;View Details
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Customer</h3>
    </div>
    <div class="panel-body">
        <div class="row customer-info">
            <div class="col-md-2">
                {{ order.customer }}<br/>
                {% if order.customer.phone %}{{ order.customer.phone }}<br/>{% endif %}
                {% if order.customer.mobile %}{{ order.customer.mobile }} (mob.)<br/>{% endif %}
                {% if order.customer.email %}{{ order.customer.email }}<br/>{% endif %}
            </div>
            <div class="col-md-3">
                <h4>Billing Address:</h4>
                {{ order.customer.billing_address }}
            </div>
            <div class="col-md-3">
                <h4>Shipping Address:</h4>
                {{ order.customer.shipping_address }}
            </div>
            <div class="col-md-3">
                <h5>Referral</h5>
                <p>{{ order.get_referral_display }}</p>
            </div>
            <div class="col-md-1">
                <a href="{% url 'customer_detail' order.customer.pk %}" class="hidden-print btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-folder-open"></span>&nbsp;View
                </a> <br/>
                <a href="{% url 'customer_edit' order.customer.pk %}" class="hidden-print btn btn-default btn-sm" style="margin-top:0.5em">
                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit
                </a>
            </div>
        </div>
    </div>
</div>


  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Order Notes</h3>
        </div>
        <div class="panel-body">
          {% if order.notes.count %}
            <table id="order-notes-table" class="table">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Note</th>
                </tr>
              </thead>
              <tbody>
              {% for note in order.notes.all %}
                <tr class="order-note order-note-{{ note.type | lower }}">
                  <td style="width: 15%">{{ note.created|date:'j F, Y' }} <br>by {{ note.created_by }}</td>
                  <td>{{ note.content | linebreaksbr }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          {% else %}
            <p>&mdash;</p>
          {% endif %}
          {% if order.comments %}
            <h4>Comments</h4>
            <p>{{ order.comments | linebreaksbr }}</p>
          {% endif %}
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Sale Bonus</h3>
        </div>
        <div class="panel-body">
          {% if order.bonus_elig_date %}
            Order is Bonus-Eligible as of:
            {{ order.bonus_elig_date|date:'F j, Y' }}
          {% else %}
            Order is currently NOT Eligible for Bonus.
          {% endif %}
        </div>
      </div>

    </div>
  </div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Order Totals</h3>
            </div>

            <div class="panel-body">
                <table id="order-payments-table" cell-spacing="0" cell-padding="0" class="table">
                    <tr>
                        <td>Subtotal After Discount</td>
                        <td>{{ order.subtotal_after_discount|dollars }}</td>
                    </tr>
                    <tr>
                        <td>Tax</td>
                        <td>{{ order.tax|dollars }}</td>
                    </tr>
                    <tr>
                        <td>Shipping</td>
                        <td>{{ order.shipping|dollars }}</td>
                    </tr>
                    <tr>
                        <td>Grand Total</td>
                        <td>{{ order.grand_total|dollars }}</td>
                    </tr>
                    {% ifequal order.order_type 'cabinetry' %}
                    <tr>
                        <td>Total Profit</td>
                        <td>{{order.total_profit|dollars}}</td>
                    </tr>
                    {% endifequal %}
                    <tr>
                        <td>Balance Due</td>
                        <td><span id="balance-due">{{ order.balance_due|dollars }}</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Payment History</h3>
            </div>

            <div class="panel-body">

                {% if order.payments.count %}
                <table id="order-payment-history-table" class="table">
                    <thead>
                    <th>Payment Date</th>
                    <th>Amount</th>
                    <th>Payment Method</th>
                    <th>Comments</th>
                    </thead>
                    <tbody>
                    {% for payment in order.payments.all %}
                    <tr>
                        <td>{{ payment.payment_date|date:'j F, Y' }}</td>
                        <td>{{ payment.amount | dollars }}</td>
                        <td>{{ payment.get_payment_type_display|upper }}</td>
                        <td>{{ payment.comments | linebreaksbr }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>No payments entered.</p>
                {% endif %}
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Sale Bonus</h3>
            </div>
            <div class="panel-body">
                {% if order.bonus_elig_date %}
                    Order is Bonus-Eligible as of:
                    {{ order.bonus_elig_date|date:'F j, Y' }}
                {% else %}
                    Order is currently NOT Eligible for Bonus.
                {% endif %}
            </div>
        </div>

    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Ordered Items</h3>
            </div>

            <div class="panel-body">
                <table id="order-items-table" cell-spacing="0" cell-padding="0" class="table">
                    <thead>
                    <th>Status</th>
                    <th>Vendor</th>
                    <th>Category</th>
                    {% ifequal order.order_type 'cabinetry' %}
                    <th>Cost</th>
                    <th>Price</th>
                    <th>Profit</th>
                    {% endifequal %}
                    <th>PO</th>
                    <th>Ack</th>
                    <th>ETA</th>
                    <th>Tracking Info</th>
                    </thead>
                    <tbody>
                    {% for item in order.ordered_items.all %}

                    {% if item.status in item_pending_statuses %}
                    <tr class="item-pending">
                        {% else %}
                    <tr>
                        {% endif %}


                        {% if item.in_stock %}
                          <td>{{ item.get_status_display|upper }}</td>
                          <td>{{ item.get_vendor_display|upper}}</td>
                          <td>
                            {% if item.item_num %}
                              #{{ item.item_num }}<br/>
                            {% endif %}
                            {{ item.description }}<br/>
                            {{ item.get_category_display|upper}}</td>
                          <td>-</td>
                          <td>-</td>
                          <td>-</td>
                          <td>-</td>
                          <td>-</td>
                          <td>-</td>
                          <td>-</td>
                          <td>In-stock item</td>
                        {% else %}
                          <td class="status">{{ item.get_status_display|upper }}</td>
                          <td>{{ item.get_vendor_display|upper}}</td>
                          <td>
                            {% if item.item_num %}
                              #{{ item.item_num }}<br/>
                            {% endif %}
                            {{ item.description }} <br/>
                            {{ item.get_category_display|upper }}
                          </td>
                          {% ifequal order.order_type 'cabinetry' %}
                            <td>
                                {{ item.cost | dollars }}
                            </td>
                            <td>
                                {{ item.price | dollars }}
                            </td>
                            <td>
                                {{ item.profit | dollars }}
                            </td>
                          {% endifequal %}
                          <td>
                              {{ item.po_num }} <br/>
                              {{ item.po_date|date:'m/d/Y'}}
                          </td>
                          <td>
                              {{ item.ack_num }}<br/>
                              {{ item.ack_date|date:'m/d/Y'}}
                          </td>
                          <td>{{ item.eta|date:'m/d/Y' }}</td>
                          <td>
                                {% if item.container_num %}
                                    Container #: {{ item.container_num }}
                                {% endif %}
                                {% if item.order_last_checked_date %}
                                    Last Checked: 
                                    {{ item.order_last_checked_date|date:'m/d/Y' }} <br/>
                                {% endif %}                                
                                {{ item.special_order_tracking_desc |default_if_none:"" }}
                          </td>

                        {% endif %}

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<hr/>

<div clas="row">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Additional</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <h3>Special Financing Option</h3>
                    {% if order.orderfinancing_set.count %}
                    {% for financing_plan in order.orderfinancing_set.all %}
                    <div class="row customer-info">
                        <div class="col-md-12">
                            Approval #:{{ financing_plan.approval_no }}<br/>
                            Details: {{ financing_plan.details }}<br/>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    N/A
                    {% endif %}
                </div>

                <div class="col-md-6">
                    <h3>Guardian Protection Plan</h3>
                    {% if order.orderitemprotectionplan_set.count %}
                    {% for protection_plan in order.orderitemprotectionplan_set.all %}
                    <div class="row customer-info">
                        <div class="col-md-12">
                            Date Sold: {{ protection_plan.sold_date |date:'j F, Y' }}<br/>
                            Bonus Associate: {{ protection_plan.associate.first_name }}<br/>
                            Approval #:{{ protection_plan.approval_no }}<br/>
                            Price: {{ protection_plan.plan_price | dollars }} <br/>
                            Details: {{ protection_plan.details }}<br/>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    NOT PURCHASED
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Deliveries</h3>
    </div>
    <div class="panel-body">
        {% if order.orderdelivery_set.count %}
        <table id="order-deliveries-table" cell-spacing="0" cell-padding="0" class="table">
            <thead>
            <th>Delivery by</th>
            <th>Pickup From</th>
            <th>Delivery Slip</th>
            <th>Delivery scheduled Date</th>
            <th>Delivered Date</th>
            <th>Delivery Fee</th>
            <th>Fee Paid?</th>
            <th>Associate Comments</th>
            <th>Delivery Person Notes</th>
            </thead>
            <tbody>
            {% for delivery in order.orderdelivery_set.all %}
            <tr>
                <td>{{ delivery.get_delivery_type_display|upper }}</td>
                <td>{{ delivery.pickup_from }}</td>
                <td>
                    <a href="{{ MEDIA_URL }}{{ delivery.delivery_slip }}">
                        {{ delivery.delivery_slip_filename }}
                    </a>
                </td>
                <td>{{ delivery.scheduled_delivery_date|date:'j F, Y'}}</td>
                <td>{{ delivery.delivered_date|date:'j F, Y'}}</td>
                <td>{{ delivery.delivery_cost }}</td>
                <td>{{ delivery.paid|yesno:"Yes,No"}}</td>
                <td>{{ delivery.comments | linebreaksbr }}</td>
                <td>{{ delivery.delivery_person_notes }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No Deliveries for the order.</p>
        {% endif %}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-5">
                <h3>Attachments</h3>
                <ul>
                    {% for attachment in order.orderattachment_set.all %}
                    <li>
                        <a href="{{ attachment.file.url }}"
                           target="_blank">{{ attachment.filename }}</a>
                        {% if attachment.description %}
                        [{{ attachment.description }}]
                        {% endif %}
                    </li>
                    {% empty %}
                    <p>No attachments.</p>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Order issues</h3>
    </div>
    <div class="panel-body">
        {% if order.orderissue_set.count %}
        <table id="order-issues-table" class="dashed-table">
            <thead>
            <th>Date</th>
            <th>Status</th>
            <th>Description</th>
            </thead>
            <tbody>
            {% for issue in order.orderissue_set.all %}
            <tr>
                <td>{{ issue.created|date:'j F, Y' }}</td>
                <td>{{ issue.get_status_display|upper }}</td>
                <td> {{ issue.comments | linebreaksbr }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No order issues.</p>
        {% endif %}
    </div>
</div>

<div class="row pull-right">
    <h4>History:</h4>

    <table id="order-audit-trail" class="table">
        <tr>
            <td>Created:</td>
            <td> {{ order.created|date:'j F, Y H:i' }}</td>
            <td>by:</td>
            <td>{{ order.created_by }}</td>
        </tr>
        <tr>
            <td>Modified:</td>
            <td>{{ order.modified|date:'j F, Y H:i' }}</td>
            <td>by:</td>
            <td> {{ order.modified_by }}</td>
        </tr>
    </table>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Change Order Type</h4>
            </div>
            <div class="modal-body">
                <strong>Select new order type:</strong><br/>
                <form action="{% url 'order_convert' order.pk %}" method="post">
                    {% csrf_token %}

                    <input type="radio" name="order_type" value="stock"/> In-Stock <br/>
                    <input type="radio" name="order_type" value="special_order" checked/> Special Order <br/>
                    <input type="radio" name="order_type" value="cabinetry" /> Cabinetry <br/>
                    <input type="radio" name="order_type" value="appliances" /> Appliances <br/>
                    <input type="radio" name="order_type" value="windows" /> Hunter Douglas <br/>
                    <!-- <input type="radio" name="order_type" value="design" /> Interior Design <br/> -->
                    <input type="radio" name="order_type" value="flooring" /> Flooring <br/>

                    <br/>
                    <input type="submit" class="btn btn-primary btn-default" value="Change Order Type"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
