{% extends "base.html" %}

{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load static %}
{% load cache_bust %}

{% block title %}
    {% if page_title %}
        {{ page_title }}
    {% else %}
        Update Order
    {% endif %}
{% endblock %}

{% block page_title %}
    {% if order.pk %}
        Modify Order {{ order }}
    {% else %}
        Create Order
    {% endif %}

    {% if order.order_type %}
    | {{ order.get_order_type_display }}
    {% endif %}
{% endblock page_title %}

{% block extra_js %}
    <!--suppress ALL -->

    {{ form.media }}
    {{ items_form.media }}
    {{ commissions_form.media }}
    {{ delivery_form.media }}
    {{ protection_plan_form.media }}
    {{ financing_form.media }}
    {{ payments_form.media }}
    {{ tracking_form.media }}
    {{ notes_form.media }}


    <script src="{% static 'js/formhelper.js' %}?{% cache_bust %}"></script>
    <script type="text/javascript">
        $(function () {
            $(document).ready(function () {

                var warnBeforeExit = true;

                $('#tabs a').click(function (e) {
                    e.preventDefault();
                    $(this).tab('show');
                });

                $(".date-input").datepicker({format: 'mm/dd/yyyy'});

                 // put focus on tab that has error
                var errControl = $("#orderForm .error");
                if (!errControl.length) errControl = $("#orderForm .has-error");

                var $parentTab = errControl.first().parents(".tab-pane");
                if ($parentTab.length) {
                    var tab = $parentTab.attr('id');
                    $('#tabs a[href="#' + tab + '"]').tab('show');
                }

                var formHelpersCallback = function() {
                    FurnFormHelper.applyItemFormRules($("#order-items-fieldset"));

                    FurnFormHelper.setUpFormSets();

                    // show totals on initial load
                    FurnFormHelper.recalcOrderTotals();

                    FurnFormHelper.refreshPaymentFields();

                    FurnFormHelper.applyOrderFormValidation($('#orderForm'));

                    FurnFormHelper.initNotesForm();


                    $("#id_status").on('change.orderValidation', function (e) {
                        FurnFormHelper.refreshPaymentFields();
                    });

                    //disable warning message if Submit button was clicked
                    $("#submitButton").on('click', function () {
                        warnBeforeExit = false;
                    });
                    $("#orderForm").on('submit', function (e) {
                        warnBeforeExit = false;

                        try {
                            FurnFormHelper.onSubmitCallback($(this), e);
                        } catch(e){
                            console.log("Error occured: " + e.toString());
                        }
                    });
                }

                $("#shippingSameAsBilling").on("change", function() {
                    let shippingSameAsBilling = $(this).prop("checked") == true;
                    if (shippingSameAsBilling) {
                        $("#id_customers-0-ship_addr_str").val($("#id_customers-0-bill_addr_str").val());
                        $("#id_customers-0-ship_addr_str2").val($("#id_customers-0-bill_addr_str2").val());
                        $("#id_customers-0-ship_addr_city").val($("#id_customers-0-bill_addr_city").val());
                        $("#id_customers-0-ship_addr_state").val($("#id_customers-0-bill_addr_state").val());
                        $("#id_customers-0-ship_addr_zip").val($("#id_customers-0-bill_addr_zip").val());
                    }
                });

                window.addEventListener("load", formHelpersCallback, false);

                //show warning if page is about to be closed.
                window.onbeforeunload = function () {
                    if (warnBeforeExit) {
                        return "Are you sure you want to close this page? All unsaved changes might be lost.";
                    }
                }

            });
        })
    </script>


    <script src="{% static 'js/jquery.validate.extra.js' %}"></script>
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

{% endblock %}

{% block extra_css %}
    <style type="text/css">
        .delete-row {
            margin-left: 5px;
        }
    </style>

    <link href="//cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet">

{% endblock %}

{% block content %}

<form action="" method="POST" enctype="multipart/form-data" id="orderForm" role="form" class="form" autocomplete="off">
    {% csrf_token %}
    {{ form.non_field_errors }}


    {% if order.pk %}
        <button type="button" class="btn btn-primary btn-default" data-toggle="modal" data-target="#myModal" style="margin:1em 0">
            Change Order Type
        </button>
        <br/>
    {% endif %}

    <div class="tabbable tabs-left">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="tabs" role="tablist">
            <li role="presentation" class="active"><a href="#order-info" data-toggle="tab">Order info</a></li>
            <li role="presentation"><a href="#customer-info" data-toggle="tab">Customer</a></li>
            <li role="presentation"><a href="#payment-info" data-toggle="tab">Payment</a></li>
            <li role="presentation"><a href="#order-items-fieldset" data-toggle="tab">Items</a></li>
{#            <li role="presentation"><a href="#tracking-fieldset" data-toggle="tab">Tracking</a></li>#}
            <li role="presentation"><a href="#deliveries" data-toggle="tab">Deliveries</a></li>
            <li role="presentation"><a href="#order-commissions-fieldset" data-toggle="tab">Commissions</a></li>
            <li role="presentation"><a href="#attachment-fieldset" data-toggle="tab">Attachments</a></li>
            <li role="presentation"><a href="#issues-fieldset" data-toggle="tab">Order Issues</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="order-info">
                <fieldset>
                    <legend>Order info</legend>

                    <div class="row">
                        <div class="col-md-3">
                            {% bootstrap_field form.number %}
                        </div>

                        <div class="col-md-3">
                            {% bootstrap_field form.order_date %}
                        </div>

                        <div class="col-md-3">
                            {% bootstrap_field form.store %}

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            {% bootstrap_field form.status %}
                        </div>

                        <div id="referral-info" class="col-md-3">
                            {% bootstrap_field form.referral %}
                        </div>
                    </div>

                </fieldset>
            </div>

            <div role="tabpanel" class="tab-pane" id="customer-info">
                <fieldset>
                    <legend>Customer Info</legend>

                    <div class="tabbable"> <!-- Only required for left/right tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1" data-toggle="tab">Select Customer</a></li>
                            <li><a href="#tab2" data-toggle="tab">New Customer...</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">

                                <div class="col-md-6">
                                    {% bootstrap_field form.customer %}
                                </div>

                            </div>
                            <div class="tab-pane" id="tab2">
                                <div id="new-customer-form-wrapper" class="col-md-12">
                                    {{ customer_form.management_form }}
                                    {{ customer_form.non_form_errors }}
                                    {% bootstrap_formset_errors customer_form layout='inline' %}

                                    {% comment %}
                                    {% bootstrap_formset customer_form %}
                                    {% endcomment %}

                                    {% for customer_formset_form in customer_form %}
                                        {% include "customers/_customer_form.html" with form=customer_formset_form %}
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>

                    <br/>

                </fieldset>
            </div>

            <div role="tabpanel" class="tab-pane" id="payment-info">
                <fieldset>
                    <div class="row">
                        <div class="span4">
                            <legend>Payment Information</legend>
                            <div class="row">
                                <div class="col-md-3">
                                    {% bootstrap_field form.subtotal_after_discount addon_before='$' %}
                                </div>

                                <div class="col-md-3">
                                    {% bootstrap_field form.tax addon_before='$' %}
                                </div>

                                <div class="col-md-3">
                                    {% bootstrap_field form.shipping addon_before='$' %}
                                </div>

                            </div>

                            <hr/>
                        </div>

                        <div class="row">
                            <h4>Payment History</h4>
                            {{ payments_form.management_form }}
                            {% if payments_form %}
                                {{ payments_form.non_field_errors }}

                                {% bootstrap_formset_errors payments_form %}

                                <table id="orderPaymentsTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                    <tr class="">
                                        <th>Payment Date</th>
                                        <th>Amount</th>
                                        <th>Payment Type</th>
                                        <th>Comments</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for payment_form in payments_form %}

                                        <tr class="payments_form form-row"
                                            id="{{ payments_form.prefix }}-{{ forloop.counter }}-row">

                                            {% bootstrap_form_errors payment_form %}

                                            <td class="col-md-3">
                                                {% bootstrap_field payment_form.payment_date show_label=False %}
                                            </td>
                                            <td class="col-md-3">
                                                {% bootstrap_field payment_form.amount  show_label=False %}
                                            </td>
                                            <td class="col-md-3">
                                                {% bootstrap_field payment_form.payment_type show_label=False %}
                                            </td>
                                            <td>
                                                {% bootstrap_field payment_form.comments form_group_class="order-payments-comment" show_label=False %}
                                                {{ payment_form.id }}
                                                {% if payments_form.can_delete %}
                                                    {{ payment_form.DELETE }}
                                                {% endif %}
                                            </td>
                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>

                            {% endif %}

                            <hr/>

                        </div>

                        <div class="row">

                            <!-- PROTECTION PLAN SECTION -->
                            <div class="col-md-4">
                                {% bootstrap_label "Protection plan?" %}
                                {% bootstrap_field form.protection_plan show_label=False %}

                                <div class="accordion-group form-row" id="protection-form-row">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse"
                                           data-parent="#payment-info" href="#collapse-protectionPlan">Guardian Protection Plan
                                            (expand)</a>
                                    </div>
                                    <div id="collapse-protectionPlan" class="accordion-body collapse">
                                        <div class="accordion-inner">
                                            <legend>Guardian Protection Plan</legend>

                                            {% if protection_plan_form %}
                                                {{ protection_plan_form.management_form }}
                                                {{ protection_plan_form.non_form_errors }}
                                                {% for form in protection_plan_form %}
                                                    {% crispy form %}
                                                    {{ form.id }}
                                                {% endfor %}
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- \PROTECTION PLAN SECTION -->

                            <!-- ORDER FINANCING SECTION -->
                            <div class="col-md-4">

                                {% bootstrap_label "Order financing" %}
                                {% bootstrap_field form.financing_option show_label=False %}

                                <div class="accordion-group form-row" id="financing-form-row">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse"
                                           data-parent="#payment-info" href="#collapse-financing">Order Financing
                                            (expand)</a>
                                    </div>
                                    <div id="collapse-financing" class="accordion-body collapse">
                                        <div class="accordion-inner">
                                            <legend>Order Financing</legend>

                                            {% if financing_form %}
                                                {{ financing_form.management_form }}
                                                {{ financing_form.non_form_errors }}
                                                {% for form in financing_form %}
                                                    {% bootstrap_form form %}
                                                {% endfor %}
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- \ORDER FINANCING SECTION -->

                        </div>

                        <hr/>

                    </div>

                </fieldset>
            </div>

            <div role="tabpanel" class="tab-pane" id="order-items-fieldset">
                <fieldset class="accordion">
                    <legend>Sold Items</legend>

                        {{ items_form.management_form|crispy }}
                        {{ items_form.non_field_errors }}
                        {% bootstrap_formset_errors items_form layout='inline' %}


                        <table id="orderItemsTable" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr class="">
                                    <th>Item Info</th>
                                    <th>PO</th>
                                    <th>Vendor Ack.</th>
                                    <th>ETA</th>
                                    <th>Order Tracking</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item_form in items_form %}
                                    <tr class="items-form form-row" id="{{ item_form.prefix }}-{{ forloop.counter }}-row">

                                        {% bootstrap_form_errors item_form %}

                                        <td>
                                            <div class="col-lg-12">
                                              {% bootstrap_field item_form.description show_label=False%}
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                              {% bootstrap_field item_form.in_stock form_group_class="checkbox-middle" show_label=False%}
                                              {% bootstrap_field item_form.status %}
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                              {% bootstrap_field item_form.item_num  %}
                                            </div>

                                            <hr/>
                                            <div class="container-fluid">
                                                <div class="col-lg-6 col-md-6 col-sm-12">{% bootstrap_field item_form.vendor %}</div>
                                                <div class="col-lg-6 col-md-6 col-sm-12">{% bootstrap_field item_form.category %}</div>
                                            </div>

                                            <fieldset class="small item-pricing container-fluid">
                                                <legend>Pricing</legend>
                                                <div class="col-lg-4 col-md-4 col-sm-12">{% bootstrap_field item_form.cost %}</div>
                                                <div class="col-lg-4 col-md-4 col-sm-12">{% bootstrap_field item_form.price %}</div>
                                                <div class="col-lg-4 profit alert alert-success pull-right">
                                               </div>
                                            </fieldset>

                                        </td>
                                        <td>{% bootstrap_field item_form.po_num show_label=False%} <br/>
                                            {% bootstrap_field item_form.po_date show_label=False%}<br/></td>
                                        <td>{% bootstrap_field item_form.ack_num show_label=False%}<br/>
                                            {% bootstrap_field item_form.ack_date show_label=False%}</td>
                                        <td>{% bootstrap_field item_form.eta show_label=False%}<br/>
                                            {% bootstrap_field item_form.container_num %}</td>
                                        <td>{% bootstrap_field item_form.order_last_checked_date %}<br/>
                                            {% bootstrap_field item_form.special_order_tracking_desc %}
                                            {% if items_form.can_delete %}
                                                {{ item_form.DELETE }}
                                            {% endif %}

                                            {{ item_form.id }}
                                        </td>

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                </fieldset>
            </div>

            <div role="tabpanel" class="tab-pane" id="deliveries">
                <fieldset class="formset accordion">
                    <legend>Deliveries</legend>

                    <div class="panel-group" class="accordion" role="tablist" aria-multiselectable="true">
                        {{ delivery_form.management_form }}
                        {% if delivery_form %}
                            {{ delivery_form.non_form_errors }}
                            {% bootstrap_formset_errors delivery_form %}

                            {% for form in delivery_form %}

                                <div class="panel panel-default delivery-form form-row" id="{{ form.prefix }}-row">
                                    <!-- -{{forloop.counter}} -->
                                    <div class="panel-heading" role="tab" id="heading{{ form.prefix }}">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#deliveries"
                                               href="#collapse{{ form.prefix }}" aria-expanded="false"
                                               aria-controls="collapse{{ form.prefix }}">
                                                Delivery {{ forloop.counter }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse{{ form.prefix }}" class="panel-collapse collapse in"
                                         role="tabpanel" aria-labelledby="heading{{ form.prefix }}">
                                        <div class="panel-body">

                                            <div class="row">
                                                <div class="col-md-3">
                                                    {% bootstrap_field form.delivery_type %}
                                                </div>
                                                <div class="col-md-3">
                                                    {% bootstrap_field form.scheduled_delivery_date %}
                                                </div>
                                                <div class="col-md-3">
                                                    {% bootstrap_field form.pickup_from %}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    {% bootstrap_field form.delivered_date %}
                                                </div>
                                                {% if form.delivery_slip %}
                                                <div class="col-md-4">
                                                    {% bootstrap_field form.delivery_slip %}
                                                </div>
                                                {% endif %}
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    {% bootstrap_field form.comments %}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    {% bootstrap_field form.delivery_person_notes %}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    {% bootstrap_field form.delivery_cost %}
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="col-md-3">
                                                    {% bootstrap_field form.paid %}
                                                </div>
                                            </div>

                                            {{ form.id }}

                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                        {% else %}
                            <div class="alert warning">Deliveries can be added only after saving the order.</div>
                        {% endif %}
                    </div>
                </fieldset>
            </div>

            <div role="tabpanel" class="tab-pane" id="order-commissions-fieldset">
                <fieldset class="formset accordion">
                    <legend>Commissions</legend>

                    <div class="panel-group" class="accordion" role="tablist" aria-multiselectable="true">

                        {{ commissions_form.management_form }}
                        {% if commissions_form %}
                            {{ commissions_form.non_field_errors }}
                            {% bootstrap_formset_errors commissions_form %}


                            <table id="orderCommissionsTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                  <tr class="">
                                      <th>Associate</th>
                                      <th>Sale Portion</th>
                                  </tr>
                                </thead>
                                <tbody>

                            {% for comm_form in commissions_form %}

                                <tr class="commissions form-row"
                                    id="{{ commissions_form.prefix }}-{{ forloop.counter }}-row">

                                    {% bootstrap_form_errors comm_form %}
                                    {{ commissions_form.non_form_errors }}

                                    <td class="col-md-2">
                                         {% bootstrap_field comm_form.associate show_label=False %}
                                    </td>
                                    <td class="col-md-2">
                                        {% bootstrap_field comm_form.portion_percentage show_label=False addon_after='%' %}

                                        {% bootstrap_field comm_form.status show_label=False %}
                                        {% bootstrap_field comm_form.paid_date show_label=False %}
                                        {% bootstrap_field comm_form.amount show_label=False addon_before='$' %}
                                        {% bootstrap_field comm_form.comments form_group_class="order-payments-comment" show_label=False %}
                                        {{ comm_form.id }}
                                        {% if comm_form.can_delete %}
                                            {{ comm_form.DELETE }}
                                        {% endif %}
                                    </td>
                                </tr>

                            {% endfor %}
                                </tbody>
                            </table>

                        {% else %}
                            No commissions info available.
                        {% endif %}

                    </div>

                </fieldset>
            </div>

            <div role="tabpanel" class="tab-pane" id="attachment-fieldset">
                <fieldset class="formset accordion">
                    <legend>Attachments</legend>

                    <div class="panel-group" class="accordion" role="tablist" aria-multiselectable="true">
                        {{ attachment_form.management_form }}
                        {% if attachment_form %}
                          {{ attachment_form.non_field_errors }}
                          {% bootstrap_formset_errors attachment_form %}

                          {% for form in attachment_form %}

                              <div class="panel panel-default attachment-form form-row"
                                   id="{{ attachment_form.prefix }}-{{ forloop.counter }}-row">
                                  <div class="panel-heading" role="tab" id="heading{{ form.prefix }}">
                                      <h4 class="panel-title">
                                          <a role="button" data-toggle="collapse" data-parent="#attachment-fieldset"
                                             href="#collapse{{ form.prefix }}" aria-expanded="false"
                                             aria-controls="collapse{{ form.prefix }}">
                                              Attachment {{ forloop.counter }}
                                          </a>
                                      </h4>
                                  </div>
                                  <div id="collapse{{ form.prefix }}" class="panel-collapse collapse in" role="tabpanel"
                                       aria-labelledby="heading{{ form.prefix }}">
                                      <div class="panel-body">

                                          {% bootstrap_form form %}


                                      </div>
                                  </div>
                              </div>
                          {% endfor %}
                        {% else %}
                          {% ifequal object.pk None %}
                            <div class="alert warning">Save the order before uploading attachments.</div>
                          {% else %}
                            <div class="alert warning">Nothing uploaded yet</div>
                          {% endifequal %}
                        {% endif %}

                    </div>

                </fieldset>
            </div>

            <div role="tabpanel" class="tab-pane" id="issues-fieldset">
                <fieldset class="formset accordion">
                    <legend>Order Issues</legend>

                    <div> <!--class="panel-group" class="accordion" role="tablist" aria-multiselectable="true"-->
                        {{ issues_form.management_form }}
                        {% if issues_form %}
                          {{ issues_form.non_field_errors }}
                          {% bootstrap_formset_errors issues_form %}

                          <table id="orderIssuesTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                              <thead>
                              <tr class="">
                                  <th>Status</th>
                                  <th>Comments</th>
                              </tr>
                              </thead>

                              <tbody>

                              {% for form in issues_form %}
                                  <tr class="issues_form form-row"
                                      id="{{ issues_form.prefix }}-{{ forloop.counter }}-row">
                                      <td class="col-md-3">
                                          {% bootstrap_field form.status show_label=False %}
                                      </td>
                                      <td>
                                          {% bootstrap_field form.comments form_group_class="order-issues-comment" show_label=False %}
                                          {{ form.id }}
                                          {% if issues_form.can_delete %}
                                              {{ form.DELETE }}
                                          {% endif %}
                                      </td>
                                  </tr>
                              {% endfor %}

                              </tbody>
                          </table>


                        {% else %}
                          {% ifequal object.pk None %}
                            <div class="alert warning">Save the order before entering order issues.</div>
                          {% else %}
                            <div class="alert warning">No issues yet.</div>
                          {% endifequal %}
                        {% endif %}

                    </div>

                </fieldset>
            </div>
        </div>

        <div class="well clear order-totals-wrapper">
            <span>TOTAL:<span id="order-total" class="totals-amount"></span></span>
            <span>DUE:<span id="balance-due" class="totals-amount"></span></span>
            <span id="profit-container" class="pull-right">PROFIT:<span id="total-profit" class="totals-amount"></span></span>
        </div>

        <br/><br/>

        <fieldset class="formset accordion notes-fieldset">
          <legend>Order Notes</legend>

          <div>
            {{ notes_form.management_form }}
            {% if notes_form %}
              {{ notes_form.non_field_errors }}
              {% bootstrap_formset_errors notes_form %}

              <table id="orderNotesTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr class="">
                    <th>Type</th>
                    <th>Note</th>
                  </tr>
                </thead>

                <tbody>
                  {% for form in notes_form %}
                    <tr class="notes_form form-row"
                        id="{{ notes_form.prefix }}-{{ forloop.counter }}-row">
                      <td class="col-md-2">
                        {% bootstrap_field form.type show_label=False %}
                      </td>
                      <td>
                        {% if form.instance.pk %}
                            <span class="note-date-author">
                            On: {{ form.instance.created|date:'m/j/Y' }}&nbsp;&nbsp;by: {{ form.instance.created_by }}<br/>
                            </span>
                        {% endif %}
                        {% bootstrap_field form.content form_group_class="order-notes-content" show_label=False %}
                        {{ form.id }}
                        {% if notes_form.can_delete %}
                          {{ form.DELETE }}
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>

            {% else %}
              {% ifequal object.pk None %}
                <div class="alert warning">Save the order before entering order notes.</div>
              {% else %}
                <div class="alert warning">No notes entered.</div>
              {% endifequal %}
            {% endif %}

          </div>

        </fieldset>

        <div class="field-wrapper order-comments-wrapper">
            {{ form.comments.errors }}
            {% bootstrap_field form.comments %}
        </div>

        <br/>

        {% bootstrap_field form.order_type %}
        {% bootstrap_field form.delivered_date %}
        {% bootstrap_field form.is_quote %}

        <input type="submit" id="submitButton" class="btn btn-primary btn-lg" value="Save"/>
    </div>
</form>

    <!-- Modal -->
    {% if order.pk %}

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Change Order Type</h4>
                    </div>
                    <div class="modal-body">
                        <strong>Select new order type:</strong><br/>
                        <form action="{% url 'order_convert' order.pk %}" method="post">
                            {% csrf_token %}

                            <input type="radio" name="order_type" value="stock"/> In-Stock <br/>
                            <input type="radio" name="order_type" value="special_order" checked/> Special Order <br/>
                            <input type="radio" name="order_type" value="cabinetry" /> Cabinetry <br/>
                            <input type="radio" name="order_type" value="appliances" /> Appliances <br/>
                            <input type="radio" name="order_type" value="windows" /> Hunter Douglas <br/>
                            {% comment %} <input type="radio" name="order_type" value="design" /> Interior Design <br/> {% endcomment %}
                            <input type="radio" name="order_type" value="flooring" /> Flooring <br/>

                            <br/>
                            <input type="submit" class="btn btn-primary btn-default" value="Change Order Type"/>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}



{% endblock content %}
