{% extends "base.html" %}

{% load extras %}

{% block title %}Order #{{ object.number }} History{% endblock %}

{% block page_title %}<p class=text-center">Order #{{ order.number }} History</p>{% endblock page_title %}

{% block content %}

    <div class="well hidden-print">
        <a href="{% url 'order_detail' object.pk %}" class="btn btn-default" title="View Order">Order Detail</a>
        {% if perms.orders.change_order %}
            <a href="{% url 'order_edit' object.pk %}" class="btn btn-default" title="Edit Order">Edit Order</a>
        {% endif %}
    </div>
    <hr/>
    <h3>Order Update History</h3>
    <table id="order-audit-log-table-exp" class="table table-bordered">
        <thead>
            <th>Action</th>
            <th>Action Date</th>
            <th>User</th>
            <th>Order #</th>
            <th>Order Date</th>
            <th>Status</th>
            <th>Store</th>
            <th>Customer</th>
            <th>Subtotal</th>
            <th>Tax</th>
            <th>Shipping</th>
            <th>Protection Plan</th>
            <th>Financing Plan</th>
            <th>Delivered Date</th>
            <th>Bonus Elig Date</th>
            <th>Comments</th>
        </thead>
        <tbody>
        {% for entry in audit_log_objects %}
            <tr class="zebra">
                <td>{{ entry.action }}</td>
                <td>{{ entry.action_date |date:'j F, Y H:i'  }}</td>
                <td>{{ entry.action_user }}</td>
                <td>{{ entry.data.number }}</td>
                <td>{{ entry.data.order_date |date:'j F, Y'  }}</td>
                <td>{{ entry.data.get_status_display }}</td>
                <td>{{ entry.data.store }}</td>
                <td>{{ entry.data.customer }}</td>
                <td>{{ entry.data.subtotal_after_discount }}</td>
                <td>{{ entry.data.tax }}</td>
                <td>{{ entry.data.shipping }}</td>
                <td>{{ entry.data.protection_plan|yesno }}</td>
                <td>{{ entry.data.financing_option|yesno }}</td>
                <td>{{ entry.data.delivered_date |date:'m/d/Y'  }}</td>
                <td>{{ entry.data.bonus_elig_date |date:'m/d/Y'  }}</td>
                <td>{{ entry.data.comments }}</td>

                {% comment %}
                {% for field in entry.data.items %}
                    <td>{{ field.0 }} | {{ field.1 }} </td>
                {% endfor %}
                {% endcomment %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr/>

    <h3>Item Update History</h3>
    <table id="order-item-history-log-table" class="table table-bordered">
        <thead>
            <th>Item #</th>
            <th>Action</th>
            <th>Date</th>
            <th>User</th>
            <th>Item Description</th>
            <th>Item Status</th>
            <th>Item In Stock</th>
            <th>PO #</th>
            <th>PO Date</th>
            <th>Ack #</th>
            <th>Ack Date</th>
            <th>ETA</th>
        </thead>
        <tbody>
        {% for entry in item_history %}
            <tr>
                <td>{{ entry.no }}</td>
                <td>{{ entry.data.get_action_type_display }}</td>
                <td>{{ entry.data.action_date |date:'j F, Y H:i'  }}</td>
                <td>{{ entry.data.action_user }}</td>
                <td>{{ entry.data.description }}</td>
                <td>{{ entry.data.get_status_display }}</td>
                <td>{{ entry.data.in_stock|yesno }}</td>
                <td>{{ entry.data.po_num|default_if_none:"" }}</td>
                <td>{{ entry.data.po_date|date:'j F, Y' |default_if_none:"" }}</td>
                <td>{{ entry.data.ack_num |default_if_none:"" }}</td>
                <td>{{ entry.data.ack_date|date:'j F, Y' |default_if_none:"" }}</td>
                <td>{{ entry.data.eta|default_if_none:"" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr/>

    <h3>Payment Update History</h3>
    <table id="order-payment-history-log-table" class="table table-bordered">
        <thead>
            <th>Payment #</th>
            <th>Action</th>
            <th>Date</th>
            <th>User</th>
            <th>Payment Date</th>
            <th>Payment Type</th>
            <th>Amount</th>
            <th>Comments</th>
        </thead>
        <tbody>
        {% for entry in payment_history %}
            <tr>
                <td>{{ entry.no }}</td>
                <td>{{ entry.data.get_action_type_display }}</td>
                <td>{{ entry.data.action_date|date:'j F, Y H:i'  }}</td>
                <td>{{ entry.data.action_user }}</td>
                <td>{{ entry.data.payment_date|date:'j F, Y'  }}</td>
                <td>{{ entry.data.get_payment_type_display }}</td>
                <td>{{ entry.data.amount }}</td>
                <td>{{ entry.data.comments|default_if_none:"" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Commissions Update History</h3>
    <table id="order-commission-history-log-table" class="table table-bordered">
        <thead>
            <th>Commission #</th>
            <th>Action</th>
            <th>Date</th>
            <th>User</th>
            <th>Associate</th>
            <th>Status</th>
            <th>Amount</th>
            <th>Paid Date</th>
            <th>Comments</th>
        </thead>
        <tbody>
        {% for entry in commission_history %}
            <tr>
                <td>{{ entry.no }}</td>
                <td>{{ entry.data.get_action_type_display }}</td>
                <td>{{ entry.data.action_date|date:'j F, Y H:i'  }}</td>
                <td>{{ entry.data.action_user }}</td>
                <td>{{ entry.data.associate }}</td>
                <td>{{ entry.data.get_status_display }}</td>
                <td>{{ entry.data.amount }}</td>
                <td>{{ entry.data.paid_date|date:'j F, Y'  | default_if_none:"" }}</td>
                <td>{{ entry.data.comments|default_if_none:"" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}
