
{% extends "base.html" %}

{% block title %}Order Closure{% endblock %}

{% block page_title %} Confirm Order Closure{% endblock page_title %}

{% block content %}

<form action="" method="post">{% csrf_token %}
  <p>Do you want to mark the order "{{ object }}" as "Closed"?</p>
  <input type="submit" name="Cancel" value="Cancel" />
  <input type="submit" value="Confirm" />
</form>
{% endblock content %}
