{% extends "base.html" %}

{% load render_table from django_tables2 %}
{% load extras %}

{% block title %}Bonus Report{% endblock %}

{% block page_title %}Bonus Report{% endblock page_title %}

{% block extra_js %}

    {{ date_range_filter.media }}

    <script type="text/javascript">

        $(document).ready(function () {

            $('#tabs').find('a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });

        });

    </script>

{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css"/>
{% endblock %}

{% block header_bottom %}
    {% include "partial/_sales_totals_links.html" %}
{% endblock %}

{% block content %}


    {% include "partial/_date_range_form.html" %}

    <div id="monthly-bonus-report" class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <h3>Sales Bonus </h3>
            {% render_table sales_by_associate %}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <h3>Guardian Protection Plan Bonus</h3>
            {% render_table protection_plan_bonus_summary_table %}
            <!--<span style="color:#942a25;font-size:1.2em">*Guardian Bonus program starts 4/1/2017</span>-->
        </div>
    </div>

    <hr/>

    <!-- Bonus Eligible Order List -->
    {% if bonus_elig_orders_by_associate %}
    <div id="associate-bonus-elig-orders-tabs" class="row tabbable tabs">

        <h3>Bonus-Eligible Orders<br/>
            <span class="" style="font-size:.75em;">within the Selected Date Range</span>
        </h3>


        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="tabs" role="tablist">
            {% for assoc, sales_table in bonus_elig_orders_by_associate.items %}
                <li class="{% ifequal forloop.counter 1 %}active{% endifequal %}">
                    <a href="#assocBonusOrders{{ forloop.counter }}" data-toggle="tab" role="tab">
                        {{ assoc }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            {% for assoc, sales_table in bonus_elig_orders_by_associate.items %}
                <div class="tab-pane {% ifequal forloop.counter 1 %}active{% endifequal %}"
                     id="assocBonusOrders{{ forloop.counter }}" role="tabpanel">
                    <fieldset>
                        <legend>{{ assoc }}</legend>
                        <div>
                            {% render_table sales_table %}
                        </div>

                        <!-- Protection Plan Bonus Orders -->
                        {% if protection_plan_breakdown_by_associate|lookup:assoc %}
                            <h4>Protection Plan Bonus-Eligible Orders</h4>
                            <div>
                                {% render_table protection_plan_breakdown_by_associate|lookup:assoc %}
                            </div>
                        {% endif %}
                        <!-- \Protection Plan Bonus Orders -->

                    </fieldset>
                </div>
            {% endfor %}


        </div>
    </div>
    {% endif %}
    <!-- \Bonus Eligible Order List -->

    <hr/>

    <div id="bonus_scale" class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h3>Bonus And Total Commission Structure</h3>
          <table class="table table-bordered table-striped" style="">
            <thead>
            <tr>
              <th>Sales Hit</th>
              <th>Bonus Amount</th>
              <th>Bonus %</th>
              <th>Commissions Amount</th>
              <th>Commissions %</th>
              <th>Total Amount</th>
              <th>Total Comp %</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>$20,000</td>
              <td>$50</td>
              <td>0.25%</td>
              <td>$500</td>
              <td>2.50%</td>
              <td>$550</td>
              <td>2.75%</td>
            </tr>
            <tr>
              <td>$25,000</td>
              <td>$100</td>
              <td>0.40%</td>
              <td>$625</td>
              <td>2.50%</td>
              <td>$725</td>
              <td>2.90%</td>
            </tr>
            <tr>
              <td>$30,000</td>
              <td>$175</td>
              <td>0.58%</td>
              <td>$750</td>
              <td>2.50%</td>
              <td>$925</td>
              <td>3.08%</td>
            </tr>
            <tr>
              <td>$35,000</td>
              <td>$250</td>
              <td>0.71%</td>
              <td>$875</td>
              <td>2.50%</td>
              <td>$1,125</td>
              <td>3.21%</td>
            </tr>
            <tr>
              <td>$40,000</td>
              <td>$350</td>
              <td>0.88%</td>
              <td>$1,000</td>
              <td>2.50%</td>
              <td>$1,350</td>
              <td>3.38%</td>
            </tr>
            <tr>
              <td>$45,000</td>
              <td>$450</td>
              <td>1%</td>
              <td>$1,125</td>
              <td>2.50%</td>
              <td>$1,575</td>
              <td>3.50%</td>
            </tr>
            <tr>
              <td>$50,000</td>
              <td>$575</td>
              <td>1.15%</td>
              <td>$1,250</td>
              <td>2.50%</td>
              <td>$1,825</td>
              <td>3.65%</td>
            </tr>
            <tr>
              <td>$55,000</td>
              <td>$700</td>
              <td>1.27%</td>
              <td>$1,375</td>
              <td>2.50%</td>
              <td>$2,075</td>
              <td>3.77%</td>
            </tr>
            <tr>
              <td>$60,000</td>
              <td>$825</td>
              <td>1.38%</td>
              <td>$1,500</td>
              <td>2.50%</td>
              <td>$2,325</td>
              <td>3.88%</td>
            </tr>
            <tr>
              <td>$65,000</td>
              <td>$975</td>
              <td>1.50%</td>
              <td>$1,625</td>
              <td>2.50%</td>
              <td>$2,600</td>
              <td>4%</td>
            </tr>
            <tr>
              <td>$70,000</td>
              <td>$1,125</td>
              <td>1.61%</td>
              <td>$1,750</td>
              <td>2.50%</td>
              <td>$2,875</td>
              <td>4.11%</td>
            </tr>
            <tr>
              <td>$75,000</td>
              <td>$1,300</td>
              <td>1.73%</td>
              <td>$1,875</td>
              <td>2.50%</td>
              <td>$3,175</td>
              <td>4.23%</td>
            </tr>
            <tr>
              <td>$80,000</td>
              <td>$1,475</td>
              <td>1.84%</td>
              <td>$2,000</td>
              <td>2.50%</td>
              <td>$3,475</td>
              <td>4.34%</td>
            </tr>
            <tr>
              <td>$85,000</td>
              <td>$1,675</td>
              <td>1.97%</td>
              <td>$2,125</td>
              <td>2.50%</td>
              <td>$3,800</td>
              <td>4.47%</td>
            </tr>
            <tr>
              <td>$90,000</td>
              <td>$1,900</td>
              <td>2.11%</td>
              <td>$2,250</td>
              <td>2.50%</td>
              <td>$4,150</td>
              <td>4.61%</td>
            </tr>
            <tr>
              <td>$95,000</td>
              <td>$2,150</td>
              <td>2.26%</td>
              <td>$2,375</td>
              <td>2.50%</td>
              <td>$4,525</td>
              <td>4.76%</td>
            </tr>
            <tr>
              <td>$100,000</td>
              <td>$2,500</td>
              <td>2.50%</td>
              <td>$2,500</td>
              <td>2.50%</td>
              <td>$5,000</td>
              <td>5%</td>
            </tr>
            <tr>
              <td>$105,000</td>
              <td>$2,625</td>
              <td>2.50%</td>
              <td>$2,625</td>
              <td>2.50%</td>
              <td>$5,250</td>
              <td>5%</td>
            </tr>
            <tr>
              <td>$110,000</td>
              <td>$2,750</td>
              <td>2.50%</td>
              <td>$2,750</td>
              <td>2.50%</td>
              <td>$5,500</td>
              <td>5%</td>
            </tr>
            <tr>
              <td>$115,000</td>
              <td>$2,900</td>
              <td>2.52%</td>
              <td>$2,875</td>
              <td>2.50%</td>
              <td>$5,775</td>
              <td>5.02%</td>
            </tr>
            <tr>
              <td>$120,000</td>
              <td>$3,100</td>
              <td>2.58%</td>
              <td>$3,000</td>
              <td>2.50%</td>
              <td>$6,100</td>
              <td>5.08%</td>
            </tr>
            <tr>
              <td>$125,000</td>
              <td>$3,250</td>
              <td>2.60%</td>
              <td>$3,125</td>
              <td>2.50%</td>
              <td>$6,375</td>
              <td>5.10%</td>
            </tr>
            <tr>
              <td>$130,000</td>
              <td>$3,400</td>
              <td>2.62%</td>
              <td>$3,250</td>
              <td>2.50%</td>
              <td>$6,650</td>
              <td>5.12%</td>
            </tr>
            <tr>
              <td>$135,000</td>
              <td>$3,550</td>
              <td>2.63%</td>
              <td>$3,375</td>
              <td>2.50%</td>
              <td>$6,925</td>
              <td>5.13%</td>
            </tr>
            <tr>
              <td>$140,000</td>
              <td>$3,700</td>
              <td>2.64%</td>
              <td>$3,500</td>
              <td>2.50%</td>
              <td>$7,200</td>
              <td>5.14%</td>
            </tr>
            <tr>
              <td>$145,000</td>
              <td>$3,850</td>
              <td>2.66%</td>
              <td>$3,625</td>
              <td>2.50%</td>
              <td>$7,475</td>
              <td>5.16%</td>
            </tr>
            <tr>
              <td>$150,000</td>
              <td>$4,000</td>
              <td>2.67%</td>
              <td>$3,750</td>
              <td>2.50%</td>
              <td>$7,750</td>
              <td>5.17%</td>
            </tr>
            <tr>
              <td>$155,000</td>
              <td>$4,200</td>
              <td>2.71%</td>
              <td>$3,875</td>
              <td>2.50%</td>
              <td>$8,075</td>
              <td>5.21%</td>
            </tr>
            <tr>
              <td>$160,000</td>
              <td>$4,400</td>
              <td>2.75%</td>
              <td>$4,000</td>
              <td>2.50%</td>
              <td>$8,400</td>
              <td>5.25%</td>
            </tr>
            <tr>
              <td>$165,000</td>
              <td>$4,600</td>
              <td>2.79%</td>
              <td>$4,125</td>
              <td>2.50%</td>
              <td>$8,725</td>
              <td>5.29%</td>
            </tr>
            <tr>
              <td>$170,000</td>
              <td>$4,800</td>
              <td>2.82%</td>
              <td>$4,250</td>
              <td>2.50%</td>
              <td>$9,050</td>
              <td>5.32%</td>
            </tr>
            <tr>
              <td>$175,000</td>
              <td>$5,000</td>
              <td>2.86%</td>
              <td>$4,375</td>
              <td>2.50%</td>
              <td>$9,375</td>
              <td>5.36%</td>
            </tr>
            <tr>
              <td>$180,000</td>
              <td>$5,200</td>
              <td>2.89%</td>
              <td>$4,500</td>
              <td>2.50%</td>
              <td>$9,700</td>
              <td>5.39%</td>
            </tr>
            <tr>
              <td>$185,000</td>
              <td>$5,400</td>
              <td>2.92%</td>
              <td>$4,625</td>
              <td>2.50%</td>
              <td>$10,025</td>
              <td>5.42%</td>
            </tr>
            <tr>
              <td>$190,000</td>
              <td>$5,600</td>
              <td>2.95%</td>
              <td>$4,750</td>
              <td>2.50%</td>
              <td>$10,350</td>
              <td>5.45%</td>
            </tr>
            <tr>
              <td>$195,000</td>
              <td>$5,800</td>
              <td>2.97%</td>
              <td>$4,875</td>
              <td>2.50%</td>
              <td>$10,675</td>
              <td>5.47%</td>
            </tr>
            <tr>
              <td>$200,000</td>
              <td>$6,000</td>
              <td>3%</td>
              <td>$5,000</td>
              <td>2.50%</td>
              <td>$11,000</td>
              <td>5.50%</td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4">
            <h3>Guardian Bonus Program Details</h3>
            <table class="table table-bordered" style="">
                <thead>
                  <tr>
                    <th>Plan Price</th>
                    <th>Bonus Amount</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>$149</td>
                        <td>$7</td>
                    </tr>
                    <tr>
                        <td>$199</td>
                        <td>$10</td>
                    </tr>
                    <tr>
                        <td>$249</td>
                        <td>$15</td>
                    </tr>
                    <tr>
                        <td>$299</td>
                        <td>$20</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center; color:#942a25"><strong>Reach $100 of combined monthly bonus and get <i>additional</i> $100</strong> </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

{% endblock content %}
