{% extends "base.html" %}

{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load static %}
{% load bootstrap3 %}
{% load extras %}
{% load cache_bust %}

{% block extra_js %}
  {{ filter.media }}
  {{ filter.form.media }}
{% endblock %}

{% block extra_css %}
  <style>
    .filter-form .row {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 20px;
    }
    .filter-form .row .form-group {
      display: flex;
      flex-direction: column;
    }
  </style>

{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block page_title %}{{ title }}{% endblock page_title %}

{% block header_bottom %}
    {% include "partial/_sales_totals_links.html" %}
{% endblock %}

{% block content %}

    {% url 'commissions_list' as commissions_list_url %}
    {% url 'commissions_paid' as commissions_paid_url %}
    {% url 'commissions_list_v2' as commissions_list_v2_url %}
    <ul class="nav nav-tabs" xmlns="http://www.w3.org/1999/html">
        <li class="{% ifequal request.path commissions_list_url %}active{% endifequal %}">
            <a href="{{ commissions_list_url }}">Commissions</a>
        </li>
        <li class="{% ifequal request.path commissions_paid_url %}active{% endifequal %}">
            <a href="{{ commissions_paid_url }}">Payment History</a>
        </li>
        {% if perms.commissions.update_commissions_payment %}
            <li class="{% ifequal request.path commissions_list_v2_url %}active{% endifequal %}">
                <a href="{{ commissions_list_v2_url }}">Quick Approval</a>
            </li>
        {% endif %}
    </ul>

    <!-- Filter Form -->
    <div class="panel panel-default">
      <div class="panel-body">
        <form class="form-inline filter-form commissions-form">
          {{ filter.form.management_form }}
          {{ filter.form.id }}

          <div class="row">
            {% if filter.form.status %}
              <div>
                {% bootstrap_field filter.form.status %}
              </div>
            {% endif %}
            {% if filter.form.associate %}
              <div>
                {% bootstrap_field filter.form.associate %}
              </div>
            {% endif %}
            {% if filter.form.order_status %}
              <div>
                {% bootstrap_field filter.form.order_status %}
              </div>
            {% endif %}
            {% if filter.form.order_number %}
              <div>
                {% bootstrap_field filter.form.order_number %}
              </div>
            {% endif %}
            {% if filter.form.order_date_from %}
              <div>
                {% bootstrap_label "Order Date From/To" %}
                <div class="row">
                  {% bootstrap_field filter.form.order_date_from show_label=False %}
                  {% bootstrap_field filter.form.order_date_to show_label=False %}
                </div>
              </div>
            {% endif %}
            {% if filter.form.commissions_paid_date_from %}
              <div>
                {% bootstrap_label "Paid Date From/To" %}
                <div class="row">
                  {% bootstrap_field filter.form.commissions_paid_date_from show_label=False %}
                  {% bootstrap_field filter.form.commissions_paid_date_to show_label=False %}
                </div>
              </div>
            {% endif %}

            <div>
              <button type="submit" class="btn btn-primary btn-lg">Filter</button>
            </div>
          </div>

        </form>
      </div>
    </div>

    <div id="order-list" class="monthly-orders">

        {% if message %}
            <h5>{{ message }}</h5>
        {% endif %}

        {% render_table table %}

        {% if subtotals_table %}

            <br/><br/>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Subtotals</h2>
                    <h4>*For selected date range only</h4>
                </div>
                <div id="collapseLegend" class="panel-collapse "
                     role="tabpanel">
                    <div class="panel-body">
                        <div class="table-container table-responsive">
                            <table class="table table-bordered table-condensed table-hover" style="width:60em">
                                <thead>
                                    <tr>
                                        <th>Associate</th>
                                        <th>Sales</th>
                                        <th>Commissions Paid</th>
                                        <th>Pending</th>
                                        <th>Estimated Commissions*</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for associate, data in subtotals_table.items %}
                                        <tr>
                                            <td>{{ associate }}</td>
                                            <td>{{  data.SALES_SUBTOTAL | dollars }}</td>
                                            <td>{{  data.PAID | dollars }}</td>
                                            <td>{{  data.PENDING | dollars }}</td>
                                            <td>{{  data.ESTIMATED_COMMISSIONS | dollars }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>

                            </table>
                        </div>
                        <span style="color:red">*Ineligible commissions are excluded</span> <br/>
                        <span style="color:red">*Estimated commissions are 2.5% of subtotal</span>
                    </div>
                </div>
            </div>

        {% endif %}

    </div>

{% endblock %}
