{% extends "base.html" %}

{% load static %}
{% load bootstrap3 %}
{% load cache_bust %}

{% block title %}Commissions Approval{% endblock title %}

{% block page_title %}Commissions Approval{% endblock page_title %}

{% block extra_js %}

    <script src="{% static 'js/iframeResizer.min.js' %}"></script>

    <script type="text/javascript">
        $(function () {
            $(document).ready(function () {
                iFrameResize({
                    {#log:true,#}
                    checkOrigin:false
                });

            });
        });
    </script>

{% endblock %}

{% block content %}
    {% url 'commissions_list' as commissions_list_url %}
    {% url 'commissions_paid' as commissions_paid_url %}
    {% url 'commissions_list_v2' as commissions_list_v2_url %}
    <ul class="nav nav-tabs" xmlns="http://www.w3.org/1999/html">
        <li class="{% ifequal request.path commissions_list_url %}active{% endifequal %}">
            <a href="{{ commissions_list_url }}">Commissions</a>
        </li>
        <li class="{% ifequal request.path commissions_paid_url %}active{% endifequal %}">
            <a href="{{ commissions_paid_url }}">Payment History</a>
        </li>
        {% if perms.commissions.update_commissions_payment %}
            <li class="{% ifequal request.path commissions_list_v2_url %}active{% endifequal %}">
                <a href="{{ commissions_list_v2_url }}">Quick Approval</a>
            </li>
        {% endif %}
    </ul>

    <br/>
    <style>iframe{width: 1px;min-width: 100%;position: absolute; left:0}</style>
    {% if COMMISSIONS_URL %}
        <iframe
            src="{{ COMMISSIONS_URL }}?{% cache_bust %}"
            class="iframe"
            scrolling="no"
            marginheight="0"
            frameborder="0"
            style="">
        </iframe>
    {% endif %}

{% endblock content %}
