{% extends "base.html" %}

{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load static %}
{% load extras %}

{% block title %}
    {% if page_title %}
        {{ page_title }}
    {% else %}
        Commission for order #{{ commission.order.number }}
    {% endif %}
{% endblock %}

{% block page_title %}
    {% if commission.pk %}
        {% ifequal action 'claim_action' %}
            Claim Commissions | #{{ commission.order.number }}
        {% else %}
            Update Commission | #{{ commission.order.number }}
        {% endifequal %}
    {% else %}
        Create Commission
    {% endif %}

    {% if commission.manager_commission_flag %}
        <h3 style="text-align: center">Manager's Commission</h3>
    {% endif %}

{% endblock page_title %}

{% block extra_js %}
    {{ form.media }}
    <script>
        var warningMsg = $("<div>Auto-populated. Check amount!</div>");
        warningMsg.css({
            "color": "#a50c0c",
            "font-weight": "bold",
            "margin": ".3em 0 0 0"
        });
        $(document).ready(function() {
            $("input.form-control.autopopulated").parents(".form-group").append(warningMsg);

            var d = new Date();
            var datestring = (d.getMonth()+1).toString().padStart(2, '0')  + "/" + d.getDate().toString().padStart(2, '0') + "/" + d.getFullYear();

            $status = $("#id_status");
            $paid = $("#id_paid");
            $paid_date = $("#id_paid_date");

            if ($status.val().trim() !== "PAID") {
                $paid.removeAttr("checked");
            } else {
                $paid.prop("checked", "checked");
            }

            $status.change(function() {
                if ($status.val().trim() !== "PAID") {
                    $paid.removeAttr("checked");
                    $paid_date.val("");
                } else {
                    $paid.prop("checked", "checked");
                    if ($paid_date.val().trim() === "") {
                        $paid_date.val(datestring);
                    }
                }
            });
            $paid.change(function() {
                if ($paid.prop("checked") && $status.val() !== 'PAID') {
                    $status.val('PAID');
                    if ($paid_date.val().trim() === "") {
                        $paid_date.val(datestring);
                    }
                }
                if (!$paid.prop("checked") && $status.val() === 'PAID') {
                    $status.val("PENDING");
                    $paid_date.val("");

                }
            });


        });
    </script>
{% endblock extra_js %}

{% block extra_css %}
    <style type="text/css">
        .delete-row {
            margin-left: 5px;
        }
    </style>
{% endblock %}

{% block content %}

    <form action="" method="POST" enctype="multipart/form-data" id="orderForm" role="form" class="form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.management_form }}
        {% bootstrap_form_errors form %}

        <fieldset>
{#            <legend>Commssion Details</legend>#}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <h3><i>Associate:</i> {{ commission.associate.first_name }} {{ commission.associate.last_name }}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-8">
                                    {% bootstrap_field form.amount addon_before='$' show_label=False  %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">

                                    <span style="font-size:1em; font-weight:bold">
                                    {% if not commission.manager_commission_flag %}
                                        *2.5% of Order Subtotal <br/>
                                        <i>Estimated amount:</i> ${{ estimated_commission }}
                                    {% else %}
                                        *1% of Order Subtotal
                                    {% endif %}
                                    </span>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 well">
                            {% ifequal action 'edit_action' %}
                                <h4>Status</h4>
                                <div class="row">
                                    <div class="col-md-5">
                                        {% bootstrap_field form.associate %}
                                        {% bootstrap_field form.status %}
                                    </div>
                                    <div class="col-md-3">
                                        {% bootstrap_field form.paid %}
                                    </div>

                                </div>

                                <div class="row">
                                    <!-- <div class="col-md-5 text-right" style="padding-top:1.5em" >

                                    </div> -->
                                    <div class="col-md-5">
                                        {% bootstrap_field form.paid_date  %}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        {% bootstrap_field form.comments  %}
                                    </div>
                                </div>

                            {% else %}
                                {% bootstrap_field form.status %}
                            {% endifequal %}


                        </div>

                    </div>

                    <br/>

                    <div class="row">
                        <div class="col-md-3">
                            {% ifequal action 'claim_action' %}
                                <input type="submit" id="submitButton" class="btn btn-primary btn-lg" value="Claim"/>
                            {% else %}
                                <input type="submit" id="submitButton" class="btn btn-primary btn-lg" value="Save"/>
                            {% endifequal %}
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>


    </form>

    <fieldset>
        <legend>Order Details</legend>
        {% include "partial/_commission_order_summary.html" %}

    </fieldset>


    <br/><br/>



{% endblock content %}
