{% extends "base.html" %}

{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}"/>
    <!--<link rel="stylesheet" href="{% static 'bootstrap3_datetime/css/bootstrap-datetimepicker.min.css' %}"/>-->
{% endblock %}

{% block extra_js %}
    <!--MEDIA-->
    {{ filter.media }}
   <!-- <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static  'bootstrap3_datetime/js/moment.min.js' %}"></script>
    <script src="{% static  'bootstrap3_datetime/js/bootstrap-datetimepicker.min.js' %}"></script>-->
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block page_title %}{{ title }}{% endblock page_title %}

{% block header_bottom %}
    {% include "partial/_sales_totals_links.html" %}
{% endblock %}

{% block content %}

    <div id="order-list" class="monthly-orders">

        {% if message %}
            <h5>{{ message }}</h5>
        {% endif %}


        <hr/>


        {%  comment %}
        <script>

            (function () {


                var data = [
                    {associate_name: "Lana", paid: false, paid_date: "", comments: ""},
                    {associate_name: "Pearl", paid: true, paid_date: "2016-01-01", comments: "Paid commission"},
                ];

                var obj = {
                    height: 200,
                    width: '70%',
                    hwrap: false,
                    rowBorders: false,
                    virtualX: true,
                    track: true, //to turn on the track changes.
                    ngModel: {compileToolbar: true},
                    editable: false,
                    colModel: [
                        {title: "ID", editable: false, dataType: "integer", dataIndx: "pk"},
                        {title: "Associate", editable: false, dataType: "string", dataIndx: "associate_name"},
                        {title: "Status", editable: false, dataType: "string", dataIndx: "status"},
                        {title: "Paid Date", editable: false, dataType: "string", dataIndx: "paid_date"},
                        {title: "Comments", editable: false, dataType: "string", dataIndx: "comments"},
                        {
                            title: "Edit",
                            minWidth: 100,
                            template: '<button class="btn btn-info" ng-click="editRow(rd)">Edit</button>\
                            <button class="btn btn-warning" ng-click="deleteRow(ri)">Delete</button>'
                        }
                    ],

                    resizable: true,
                    title: "Commissions",
                    scrollModel: {autoFit: true},
                    //showTop: true,
                    //showToolbar: true,
                    stripeRows: true,
                    /*toolbar: {
                     items:[{
                     type:'button',
                     icon: 'ui-icon-plus',
                     label: 'New Commission',
                     attr: "ng-click='addRow(grid)'"
                     }]
                     },*/
                    change: function (evt, ui) {
                        console.debug("Change Event: " + evt.toString() + " " + ui.toString());
                    },
                    editor: {select: true},
                    //pageModel: { type: "local", rPP: 20, rPPOptions: [10, 15, 50, 500], strDisplay: "{0} to {1} of {2}" },
                    /*dataModel: {
                     //data: data
                     location: "remote",
                     recIndx: "id",
                     dataType: "JSON",
                     url: "/api/commissions/?order={{ order.pk }}",
                     getData:function( dataJSON, textStatus, jqXHR ) {
                     return {curPage: 1, totalRecords: dataJSON.count, data: dataJSON.results}
                     }

                     }*/
                    dataModel: {
                        data: 'commissions.data',
                        contentType: 'application/json; charset=UTF-8',
                        dataType: 'JSON'
                    }
                };

                var from_date = '2016-10-01',
                        to_date = '2016-12-31';
                angular.module('myApp', ['pq.grid', 'ngResource'])
                        .config(function ($interpolateProvider) {
                            $interpolateProvider.startSymbol('{[{');
                            $interpolateProvider.endSymbol('}]}');
                        })
                        .factory('Commission', function ($resource) {
                            return $resource('/api/commissions/:id', {
                            }, {
                                'query': {method: 'GET', isArray: false}
                            });
                        })
                        .controller('gridCtrl', function ($scope, Commission) {
                            /*obj.create = function() {
                             var grid = obj.grid;
                             };
                             $scope.gridModel = obj;
                             $scope.addRow = function( grid ){
                             console.debug("Add Row triggered");
                             var rowData = {associate: "", paid:false, paid_date:"", comments:""}; //empty row
                             var rowIndx = grid.addRow({ rowData: rowData });
                             grid.goToPage({ rowIndx: rowIndx });
                             grid.editFirstCellInRow({ rowIndx: rowIndx });
                             };*/
                            //-----------------------------------------------------------


                            var newRow, grid;
                            obj.create = function () {
                                //save reference to grid api.
                                grid = $scope.gridOptions.grid;
                                console.debug("Grid created");
                            };
                            $scope.commissions = {data: data};
                            $scope.showForm = false;
                            //important to define data as object property.
                            //controllerAs could also be used.
                            Commission.query({
                                        'associate': '10',
                                        'order_date_range_0': from_date,
                                        'order_date_range_1': to_date
                                    }
                            ).$promise.then(function (res) {
                                $scope.commissions = {data: res.results}; //[{associate_name: "Lana", paid:false, paid_date:"", comments:""}]}; //{data: res.results };
                                console.log($scope.commissions);
                            });

                            $scope.editRow = function (rd) {
                                newRow = false;

                                rd.paid_date = new Date(rd.paid_date);//$.datepicker.formatDate("M d, yy", new Date("2014-07-08T09:02:21.377"));
                                //$scope.rd = {};
                                $scope.curCommission = new Commission(/*{
                                    'associate':rd.associate,
                                    'order':rd.order,
                                    'paid': rd.paid,
                                    'paid_date': new Date(rd.paid_date),
                                    'comments': rd.comments
                                    }*/rd);
                                //$scope.master = $scope.curCommission; //rd;//save reference to the row.
                                $scope.reset();
                            };
                            $scope.addRow = function () {
                                newRow = true;
                                $scope.master = {};
                                $scope.rd = {};
                                $scope.reset();
                            };
                            $scope.deleteRow = function (ri) {
                                $scope.showForm = false;
                                window.confirm("Are you sure?") && $scope.commissions.data.splice(ri, 1);
                            };
                            $scope.save = function () {
                                if (newRow) {//new row.
                                    $scope.commissions.data.push($scope.curCommission);
                                }
                                else {//edit row.
                                    angular.copy($scope.curCommission, $scope.master);
                                    //no need to call refreshRow if cell templates are used in all columns.
                                    grid.refreshRow({rowIndx: grid.getRowIndx({rowData: $scope.master}).rowIndx});
                                }
                                $scope.showForm = false;
                            };
                            $scope.reset = function () {
                                $scope.showForm = true;
                                //angular.copy($scope.master, $scope.rd);
                                $scope.form.$setPristine();
                                $scope.form.$setUntouched();
                            };

                            $scope.gridOptions = obj;


                        });
            })();

        </script>


        <br/><br/>
        <div ng-app="myApp">
            <div ng-controller="gridCtrl">

                <div style="float:left;width:55%;">
                    <button class="btn btn-info" ng-click="addRow()">Add Row</button>
                    <div pq-grid="" options="gridOptions" style="margin:auto;margin-top:10px;"></div>
                </div>

                <div style="float:right;width:44%;padding-top:100px;">
                    <form name="form" class="css-form" ng-show="showForm" ng-cloak="" novalidate="">
                        <table align="center" class="table table-condensed">
                            <tbody>
                            <tr>
                                <td>Associate:</td>
                                <td><input type="text" ng-model="curCommission.associate_name" name="associate_name" required="">
                                    <span ng-show="form.associate_name.$touched && form.associate_name.$invalid">Required!</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Paid Status:</td>
                                <td><input type="text" ng-model="curCommission.status" name="status" required="">
                                </td>
                            </tr>
                            <tr>
                                <td>Paid Date:</td>
                                <td><input type="date" ng-model="curCommission.paid_date" name="paid_date" required="">
                                    <span ng-show="form.paid_date.$touched && form.paid_date.$invalid">Date required!</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Comments:</td>
                                <td><textarea ng-model="curCommission.comments" name="comments" rows="2"></textarea>
                                    <span ng-show="form.comments.$touched && form.comments.$invalid">Date required!</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    <button ng-click="save()" class="btn" ng-disabled="form.$invalid || !form.$dirty">Save
                                    </button>
                                    <button ng-click="reset()" class="btn" ng-disabled="!form.$dirty">Reset</button>
                                    <button ng-click="showForm = false;" class="btn">Cancel</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </form>
                </div>

            </div>
        </div>
        {% endcomment %}



        <div ng-app="app">
            <div ng-controller="MainCtrl">


                <script>
                    var associates = {
                        {% for a in associates %}
                            '{{ a.id }}': '{{ a.name }}',
                        {% endfor %}
                    };
                </script>

                    <div class="well">
                        <h3>Filter Commissions</h3>
                        <form class="form-inline">
                            <div class="form-group block-level">
                                <select class="form-control" ng-model="filter.status">
                                     <option value="">--- Commission ---</option>
                                    {% verbatim %}
                                         <option ng-repeat="commission_status in settings.commission_statuses" value="{{commission_status.id}}">{{commission_status.status}}</option>
                                    {% endverbatim %}

                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" ng-model="filter.associate">
                                     <option value="">--- Associate ---</option>
                                     {% for a in associates %}
                                         <option value="{{ a.id }}">{{ a.name }}</option>
                                     {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                               <div class="controls ">
                                   <input class="textinput textInput form-control" name="order_number" type="text" ng-model="filter.order_number" placeholder="Enter Order #">
                               </div>
                            </div>

                            <div id="div_id_order_date_range" class="form-group">
                                <!--<label for="id_order_date_range_0" class="control-label ">Order order date</label>-->
                                <div class="controls ">
                                    <div class="input-group date" id="dateRange1">
                                        <input class="form-control datetimepicker form-control" ng-model="filter.date_range_from" placeholder="From Date" type="text" value="">
                                        <span class="input-group-addon"> <span class="glyphicon-calendar glyphicon"></span> </span>
                                    </div>
                                    -
                                    <div class="input-group date" id="dateRange2">
                                        <input class="form-control datetimepicker form-control" ng-model="filter.date_range_to" placeholder="To Date" type="text" value="">
                                        <span class="input-group-addon"> <span class="glyphicon-calendar glyphicon"></span> </span>
                                    </div>
                                    <script>
                                        $(function() {
                                            $("#dateRange1").datetimepicker({"pickTime": false, "language": "en-us", "format": "YYYY-MM-DD"});
                                            $("#dateRange2").datetimepicker({"pickTime": false, "language": "en-us", "format": "YYYY-MM-DD"});
                                        });
                                    </script>
                                </div>
                            </div>


                            <div class="form-group">
                                <button class="btn btn-primary" ng-click="loadData()" class="btn btn-primary btn-default">Filter</button>
                            </div>

                        </form>
                    </div>


                {% verbatim %}
                    <div id="status" ng-class="{'alert-danger':msg.type=='error', 'alert-success':msg.type=='success', 'alert-warning':msg.type=='warning'}" style="font-size: 1.5em">{{ msg.text }}</div>
                {% endverbatim %}
                <div ui-grid="gridOptions" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-validate ui-grid-pinning class="grid" style="widt h: 600px;he ight: 450px;"></div>
{#                <button id="save" type="button" class="btn btn-success" ng-click="markCommissionPending()" >Claim commission</button>#}



            </div>
        </div>

    </div>

{% endblock %}
