{% extends "base.html" %}

{% load extras %}

{% block title %} {{ commission.associate.first_name }}'s commission for #{{commission.order.number}} {% endblock %}

{% block actions %}
<div class="well hidden-print">
    {% if perms.commissions.edit_commissions %}
    <a href="{% url 'commission_edit' commission.pk %}" title="Edit Claim">
        <span class="glyphicon glyphicon-pencil"></span>&nbsp;Update Commission</a>
    {% endif %}
</div>
{% endblock %}

{% block page_title %}
{{ commission.associate.first_name }}'s commission for #{{commission.order.number}}
{% endblock page_title %}

{% block content %}

<div class="panel panel-default">
    <div class="panel-body">

        <div class="col-md-3">
            <table class="table">
                <tr>
                    <td class="cell-label">Order</td>
                    <td class="cell-value">{{ commission.order.number }}</td>
                </tr>
                <tr>
                    <td class="cell-label">Order Date</td>
                    <td class="cell-value">{{ commission.order.order_date|date:'j F, Y' }}</td>
                </tr>
            </table>
        </div>
        <!--<div class="col-md-2">
            <h4>Order:</h4>
            {{ commission.order.number }}
        </div>
        <div class="col-md-2">
            <h4>Order Date:</h4>
            {{ commission.order.order_date|date:'j F, Y' }}
        </div>-->
        <div class="col-md-2 col-md-offset-1">
            <h4>Associate:</h4>
            <strong>{{ commission.associate.first_name}}</strong>
        </div>
        <div class="col-md-2">
            <h4>Amount Claimed:</h4>
            {{ commission.amount|dollars }}
        </div>
        <div class="col-md-2">
            <h4>Status:</h4>
            {{ commission.get_status_display }}
        </div>
        <div class="col-md-2">
            <h4>Paid Date:</h4>
            {{ commission.paid_date|date:'j F, Y' }}
        </div>

    </div>
</div>

<h3>Comments</h3>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <p>{{commission.comments}}</p>
            </div>
        </div>
    </div>
</div>

<hr/>

<h3>#{{ commission.order.number }} Order Summary</h3>

{% include "partial/_commission_order_summary.html" %}


<hr/>

<div class="row pull-right">
    <h4>Audit Trail:</h4>
    <table id="order-audit-trail" class="table">
        <tr>
            <td>Created:</td>
            <td> {{ commission.created|date:'j F, Y H:i' }}</td>
            <td>by:</td>
            <td>{{ commission.created_by }}</td>
        </tr>
        <tr>
            <td>Modified:</td>
            <td>{{ commission.modified|date:'j F, Y H:i' }}</td>
            <td>by:</td>
            <td> {{ commission.modified_by }}</td>
        </tr>
    </table>
</div>

{% endblock content %}
