{% extends "base.html" %}

{% load render_table from django_tables2 %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}"/>
{% endblock %}

{% block title %}Unpaid Commissions{% endblock %}

{% block page_title %}Unpaid Commissions Report{% endblock page_title %}

{% block header_bottom %}
    <ul class="nav nav-pills" xmlns="http://www.w3.org/1999/html">
        <li>
            <a href="{% url 'sales_standings_cur' %}">Sales Report</a>
        </li>
        <li>
            <a href="{% url 'bonus_report' %}">Bonus Report</a>
        </li>
        <li class="active">
            <a href="{% url 'commissions_list' %}">Unpaid Commissions</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    {#    {{ block.super }}#}

    <div id="order-list" class="monthly-orders">

        {% if message %}
            <h4>{{ message }}</h4>
        {% endif %}

        {% render_table table %}

        <div class="panel panel-def ault">
            <div class="panel-h eading">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse"
                       href="#collapseLegend" aria-expanded="false"
                       aria-controls="collapseLegend" style="border-bottom: 1px dotted;font-size:0.8em">
                        Show column legend
                    </a>
                </h4>
            </div>
            <div id="collapseLegend" class="panel-collapse collapse "
                 role="tabpanel">
                <div class="panel-body">
                    <table class="table table-bordered" style="width:60em">
                        <tr>
                            <td>Grand Total</td>
                            <td>Subtotal After Discount + Shipping + Tax</td>
                        </tr>
                        <tr>
                            <td>Balance Due</td>
                            <td>Order Unpaid Balance (Grand Total - Total Payments)</td>
                        </tr>
                        <tr>
                            <td>Sale Portion</td>
                            <td>Associate's portion of the sale (Order Subtotal divided by # of commissions for order)
                            </td>
                        </tr>
                        <tr>
                            <td>Eligible Amount</td>
                            <td>Amount that is eligible for commissions at this
                                time. (Order is NOT eligible for commissions unless there are any customer payments
                                entered.)
                            </td>
                        </tr>
                        <tr>
                            <td>Current Commissions Due</td>
                            <td>For "Delivered" or "Closed" orders only: the commissions amount that is due
                                to be paid to the associate
                            </td>
                        </tr>
                        <tr>
                            <td>Paid Amount</td>
                            <td>Commissions already paid for an order</td>
                        </tr>
                        <tr>
                            <td>Future Commissions</td>
                            <td>For open orders: commissions amount that can be claimed after order status
                                changes to "Delivered" or "Closed"
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>


    </div>
{% endblock %}
