{% extends "base.html" %}

{% load static %}
{% load jsonify %}

{% block title %} Furnitalia Sales Stats {% endblock title %}
{% block extra_css %}
<style>

  .axis .domain {
    display: none;
  }

</style>
{% endblock %}

{% block page_title %} Furnitalia Sales {% endblock page_title %}

{% block header_bottom %}
{% include "partial/_sales_totals_links.html" %}
{% endblock %}

{% block content %}

<div id="chartContainer" style="height:100%;margin:0;">

  <div id="container" style="height:550px"></div>
  <script type="text/javascript" src="{% static 'js/echarts-4.min.js' %}"></script>

  <script type="text/javascript">


    var data = {{ sales_data | jsonify | safe }};
    const curYear = new Date().getFullYear();

    function processData(obj) {
      var temp;
      for (var year = 2015; year <= curYear; year++) {
        // var max_sac = 0, max_fnt_, max_total;
        var sum_sac = 0, sum_fnt = 0, sum_total = 0;
        temp = obj[year];
        
        if (temp) {
          for (var i = 0, l = temp.length; i < l; i++) {
            // max = Math.max(max, temp[i]);
            sum_sac += temp[i]['sac'];
            sum_fnt += temp[i]['fnt'];
            sum_total += temp[i]['total'];
          }
        }

        // obj[year + 'max'] = Math.floor(max / 100) * 100;
        obj[year + '_sac_sum'] = sum_sac;
        obj[year + '_fnt_sum'] = sum_fnt;
        obj[year + '_total_sum'] = sum_total;
      }
      return obj;
    }

    data = processData(data);

    // console.log(data);

    var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

    document.getElementById("contentContainer").style.height = "100%";
    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    app.title = 'Furnitalia Sales';

    const timelines = [];
    for (var year = 2015; year < curYear; year++) {
      timelines.push(year + '-12-31');
    }
    timelines.push({
      value: curYear + '-12-31',
      //tooltip: {
      //    formatter: '{b}'
      //},
      symbol: 'diamond',
      symbolSize: 16
    });

    const seriesOptions = [];
    for (var year = 2015; year <= curYear; year++) {
      if (!data[year]) {
        continue;
      }
      seriesOptions.push({
        title: {text: year},
        series: [
          {
            data: data[year].map(function (item) {
              return +item['sac'].toFixed(2)
            })
          },
          {
            data: data[year].map(function (item) {
              return +item['fnt'].toFixed(2)
            })
          },
          {
            data: data[year].map(function (item) {
              return +item['total'].toFixed(2)
            })
          },
          {
            data: [
              {name: 'Sacramento', value: data[year + '_sac_sum']},
              {name: 'Rosevile', value: data[year + '_fnt_sum']},
              {name: 'Total', value: data[year + '_total_sum']}
            ]
          }
        ]
      });
    }

       

    option = {
      baseOption: {
        timeline: {
          // y: 0,
          axisType: 'category',
          // realtime: false,
          // loop: false,
          autoPlay: false,
          currentIndex: curYear - 2015, //current year
          playInterval: 3000,
          // controlStyle: {
          //     position: 'left'
          // },
          data: timelines,
          label: {
            formatter: function (s) {
              return (new Date(s)).getFullYear();
            }
          }
        },
        title: {
          subtext: 'Sales'
        },
        tooltip: {},
        legend: {
          data: ['Sacramento', 'Roseville', 'Total']
        },
        calculable: false,
        grid: {
          top: 80,
          bottom: 100,
          tooltip: {
            trigger: 'axis',
            axisPointer: {
              type: 'shadow',
              label: {
                show: true,
                formatter: function (params) {
                  return params.value.replace('\n', '');
                }
              }
            }
          }
        },
        /*grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },*/

        xAxis: [
          {
            'type': 'category',
            'axisLabel': {'interval': 0},
            data: months,
            splitLine: {show: false}
          }
        ],


        yAxis: [
          {
            type: 'value',
            name: 'Sales',
            max: 300000 // set max for baseline
          }
        ],

        series: [
          {
            name: 'Sacramento',
            type: 'bar',
            stack: 'salesStack',
            label: {
              normal: {
                show: true,
                position: 'insideRight',
                position: 'insideBottom',
                rotate: 45,
                align: 'middle',
                verticalAlign: 'bottom',
                distance: 50,
                formatter: function (params) {
                  return params.value ? "$" + params.value.toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") : "";
                }
              }
            }
          },
          {
            name: 'Roseville',
            type: 'bar',
            stack: 'salesStack',
            label: {
              normal: {
                show: true,
                position: 'insideRight',
                position: 'insideBottom',
                distance: -15,
                rotate: 45,
                verticalAlign: 'bottom',
                /*formatter: '${c}'*/
                formatter: function (params) {
                  return params.value ? "$" + params.value.toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") : "";
                }
              }
            }
          },
          {
            name: 'Total',
            type: 'scatter',
            /*markLine: {
                silent: true,
                data: [{
                    yAxis: 50
                }, {
                    yAxis: 100
                }, {
                    yAxis: 150
                }, {
                    yAxis: 200
                }, {
                    yAxis: 300
                }]
            },
            markPoint: {
                data: [
                        {type: 'max', name: 'High'},
                        {type: 'min', name: 'Low'}
                    ]
            },*/
            label: {
              normal: {
                show: true,
                position: 'top',

                formatter: function (params) {
                  return params.value ? "$" + params.value.toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") : "";
                },
                fontWeight: 600,
                fontSize: 18
              }
            }
          },
          {
            name: 'Subtotals',
            type: 'pie',
            center: ['85%', '5%'],
            radius: '10%',
            z: 100,
            label: {
              normal: {
                formatter: function (params) {
                  return params.value ? "$" + params.value.toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") : "";
                }
              }
            }
          }
        ]
      },

      options: seriesOptions

      /*tooltip : {
          trigger: 'axis',
          axisPointer : {
              type : 'shadow'
          }
      },*/

    };
    if (option && typeof option === "object") {
      myChart.setOption(option, true);
    }
    //TODO https://ecomfe.github.io/echarts-examples/public/editor.html?c=mix-timeline-finance
    // reference https://ecomfe.github.io/echarts-examples/public/index.html
  </script>
</div>

{% endblock %}
