{% load extras %}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-3">

            <table class="table">
                <tr>
                    <td class="cell-label">Order Date:</td>
                    <td class="cell-value">{{ commission.order.order_date|date:'j F, Y' }}</td>
                </tr>
                <tr>
                    <td class="cell-label">Status:</td>
                    <td class="cell-value">{{ commission.order.get_status_display|upper }}</td>
                </tr>
                <tr>
                    <td class="cell-label">Store:</td>
                    <td class="cell-value">{{ commission.order.store }}</td>
                </tr>
                <tr>
                    <td class="cell-label">Sales Associates:</td>
                    <td class="cell-value">

                        {% if commission.order.commissions.regular.count %}

                            {% for c in commission.order.commissions.regular %}
                                <div style="margin-top:7px">
                                    {{ c.associate.first_name }} {{ c.associate.last_name }} <br/>

                                    <span class="italic">{{ c.get_status_display }}</span>
                                    {% ifequal c.status 'PAID' %}
                                        / ({{ c.paid_date | date:'m/j/Y' }})
                                    {% endifequal %}
                                    <br/>
                                </div>
                            {% endfor %}

                        {% endif %}

                    </td>
                </tr>
            </table>

        </div>

        <div class="col-md-4 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Order Totals</h3>
            </div>

            <div class="panel-body">
                <table id="order-payments-table" cell-spacing="0" cell-padding="0" class="table">
                    <tr>
                        <td>Subtotal After Discount</td>
                        <td>{{ commission.order.subtotal_after_discount|dollars }}</td>
                    </tr>
                    <tr>
                        <td>Tax</td>
                        <td>{{ commission.order.tax|dollars }}</td>
                    </tr>
                    <tr>
                        <td>Shipping</td>
                        <td>{{ commission.order.shipping|dollars }}</td>
                    </tr>
                    <tr>
                        <td>Grand Total</td>
                        <td>{{ commission.order.grand_total|dollars }}</td>
                    </tr>
                    <tr>
                        <td>Balance Due</td>
                        <td>{{ commission.order.balance_due|dollars }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

        <!--
        <div class="col-md-2">
            <h5>Order Date:</h5>
            {{ commission.order.order_date|date:'j F, Y' }}
        </div>
        <div class="col-md-2">
            <h5>Status:</h5>
            {{ commission.order.get_status_display|upper }}
        </div>
        <div class="col-md-2">
            <h5>Store:</h5>
            {{ commission.order.store }}
        </div>
        <div class="col-md-2">
            <h5>All order associate:</h5>
            {% if commission.order.commissions.regular.count %}

                <table class="table">

                    {% for c in commission.order.commissions.regular %}
                        <tr>
                            <td>
                            {{ c.associate.first_name }} {{ c.associate.last_name }}
                            </td>
                            <td>
                               {{ c.get_status_display | upper }}
                            </td>
                            <td>
                                {% ifequal c.status 'PAID' %}
                                   ({{ c.paid_date | date:'m/j/Y' }})
                                {% endifequal %}
                            </td>
                            <td>
                                {% ifequal c.pk commission.pk  %}
                                    <strong>*Current commission</strong>
                                {% else %}
                                    <a href="{% url 'commission_detail' c.pk %}" target="_blank" >View Details</a>
                                {% endifequal %}
                            </td>
                        </tr>
                    {% endfor %}

                </table>
            {% endif %}
        </div> -->

    </div>
</div>

<div class="row">



    <!--<hr/>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Ordered Items</h3>
                </div>

                <div class="panel-body">

                    <table id="order-items-table" cell-spacing="0" cell-padding="0" class="table">
                        <thead>
                        <th>&nbsp;</th>
                        <th>Status</th>
                        <th>PO #</th>
                        <th>PO Date</th>
                        <th>Ack. #</th>
                        <th>Ack. Date</th>
                        <th>ETA</th>
                        </thead>
                        <tbody>
                        {% for item in commission.order.ordered_items.all %}
                            <tr>
                                <td>{{ item.description }} <br/></td>
                                {% if item.in_stock %}
                                    <td>IN STOCK</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                {% else %}
                                    <td>{{ item.get_status_display|upper }}</td>
                                    <td>{{ item.po_num }}</td>
                                    <td>{{ item.po_date|date:'j F, Y'}}</td>
                                    <td>{{ item.ack_num }}</td>
                                    <td>{{ item.ack_date|date:'j F, Y'}}</td>
                                    <td>{{ item.eta|date:'j F, Y' }} </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>-->

</div>
<div class="row">
    <div class="col-md-12">
        <a href="{% url 'order_detail' commission.order.pk %}" title="View Order" class="btn btn-default"
           target="_blank">View Full Order Details</a>
    </div>
</div>