<!-- date filter form -->

{% load bootstrap3 %}
{% load crispy_forms_tags %}

<div>
    <form action="" method="GET" id="dateRangeFilter" class="form-inline">
        {{ date_range_filter.non_field_errors }}
        {{ date_range_filter.management_form }}

      	{% crispy date_range_filter date_range_filter.helper %}

    </form>
</div>
<!-- \date filter form -->
