<!-- Modal -->
<script>
  $(function () {
    $(document).ready(function () {
      $("#tabsOrderTypes a").click(function (e) {
        e.preventDefault();
        $(this).tab("show");
      });
    });
  });
</script>
<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Select Order Type</h4>
      </div>
      <div class="modal-body order-types-container">
        <ul class="nav nav-tabs" id="tabsOrderTypes" role="tablist">
          <li role="presentation" class="active">
            <a href="#real" data-toggle="tab">Order</a>
          </li>
          <li role="presentation">
            <a href="#quote" data-toggle="tab">Quote</a>
          </li>
        </ul>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="real">
            <fieldset>
              <a
                href="{% url 'order_add' %}?order_type=stock"
                class="btn btn-primary btn-default"
                ><span class="glyphicon glyphicon-plus"></span> In-Stock</a
              >
              <a
                href="{% url 'order_add' %}?order_type=special_order"
                class="btn btn-primary btn-default"
                ><span class="glyphicon glyphicon-plus"></span> Special Order</a
              >
              <!-- <a
                href="{% url 'order_add' %}?order_type=design"
                class="btn btn-primary btn-default"
                ><span class="glyphicon glyphicon-plus"></span> Interior
                Design</a
              > -->
              <a
                href="{% url 'order_add' %}?order_type=windows"
                class="btn btn-primary btn-default"
                ><span class="glyphicon glyphicon-plus"></span> Hunter
                Douglas</a
              >
              <a
                href="{% url 'order_add' %}?order_type=appliances"
                class="btn btn-primary btn-default"
                ><span class="glyphicon glyphicon-plus"></span> Appliances</a
              >
              <a
                href="{% url 'order_add' %}?order_type=cabinetry"
                class="btn btn-primary btn-default"
                ><span class="glyphicon glyphicon-plus"></span> Kitchen &
                Bath</a
              >
              <a
                href="{% url 'order_add' %}?order_type=flooring"
                class="btn btn-primary btn-default"
                ><span class="glyphicon glyphicon-plus"></span> Flooring</a
              >
            </fieldset>
          </div>

          <div role="tabpanel" class="tab-pane " id="quote">
            <fieldset>
              <a
                href="{% url 'order_add' %}?order_type=quote&quote=true"
                class="btn btn-primary btn-default"
                ><span class="glyphicon glyphicon-plus"></span> Quote</a
              >

              <!-- <a
                href="{% url 'order_add' %}?order_type=design&quote=true"
                class="btn btn-primary btn-default"
                ><span class="glyphicon glyphicon-plus"></span> Design
                Quote</a
              > -->
              <a
                href="{% url 'order_add' %}?order_type=windows&quote=true"
                class="btn btn-primary btn-default"
                ><span class="glyphicon glyphicon-plus"></span> Hunter Dougals
                Quote</a
              >
              <a
                href="{% url 'order_add' %}?order_type=appliances&quote=true"
                class="btn btn-primary btn-default"
                ><span class="glyphicon glyphicon-plus"></span> Appliances
                Quote</a
              >
              <a
                href="{% url 'order_add' %}?order_type=cabinetry&quote=true"
                class="btn btn-primary btn-default"
                ><span class="glyphicon glyphicon-plus"></span> Kitchen & Bath
                Quote</a
              >
              <a
                href="{% url 'order_add' %}?order_type=flooring&quote=true"
                class="btn btn-primary btn-default"
                ><span class="glyphicon glyphicon-plus"></span> Flooring
                Quote</a
              >
            </fieldset>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
