{% url 'sales_standings_cur' as sales_standings_url %}
{% url 'bonus_report' as bonus_report_url %}
{% url 'commissions_list' as commissions_list_url %}
{% url 'stats' as stats %}
{% url 'delivered_orders_report' as delivered_orders_url %}

<ul class="nav nav-pills" xmlns="http://www.w3.org/1999/html">
    <li class="{% ifequal request.path sales_standings_url %}active{% endifequal %}">
        <a href="{{ sales_standings_url }}">Sales Report</a>
    </li>
    <li class="{% ifequal request.path bonus_report_url %}active{% endifequal %}">
        <a href="{{ bonus_report_url }}">Bonus Report</a>
    </li>
    <li class="{% ifequal request.path delivered_orders_url %}active{% endifequal %}">
        <a href="{{ delivered_orders_url }}">Delivered Orders Report</a>
    </li>
    <li class="{% ifequal request.path commissions_list_url %}active{% endifequal %}">
        <a href="{{ commissions_list_url }}">Commissions</a>
    </li>
    <li class="{% ifequal request.path stats %}active{% endifequal %}">
        <a href="{{ stats }}">Sales Chart</a>
    </li>
</ul>
<br/>