{% extends "base.html" %}

{% load static %}
{% load bootstrap3 %}

{% block title %}FurniCloud Instructions{% endblock title %}

{% block page_title %}FurniCloud Instructions{% endblock page_title %}

{% block extra_js %}
<script language="JavaScript">
</script>

<script type="text/javascript">
  $(function() {
    $(document).ready(function() {
    });
  });
</script>

{% endblock %}

{% block header_bottom %}
  <ul class="nav nav-pills">
    <li >
      <a href="{% url 'docs' %}">Docs</a>
    </li>
    <li>
        <a href="{% url 'numbers' %}">Important Numbers</a>
    </li>
    <li class="active">
        <a href="{% url 'instructions' %}">Instructions</a>
    </li>
  </ul>
{%  endblock %}

{% block content %}
    <br/>
    {% if INSTRUCTIONS_DOC_URL %}
        <iframe src="{{ INSTRUCTIONS_DOC_URL }}" marginheight="0" frameborder="0" width="100%" height="1200px"></iframe>
    {% endif %}

{% endblock content %}
