{% extends "base.html" %}

{% load static %}
{% load bootstrap3 %}

{% block title %}Furnitalia Important Numbers{% endblock title %}

{% block page_title %}Important Numbers{% endblock page_title %}

{% block extra_js %}
<script type="text/javascript">
  $(function() {
    $(document).ready(function() {
    });
  });
</script>

{% endblock %}

{% block header_bottom %}
  <ul class="nav nav-pills">
    <li>
      <a href="{% url 'docs' %}">Docs</a>
    </li>
    <li class="active">
      <a href="#">Important Numbers</a>
    </li>
    <li>
        <a href="{% url 'instructions' %}">Instructions</a>
    </li>
  </ul>
{%  endblock %}

{% block content %}
    <br/>
    {% if IMPORTANT_NUMBERS_URL %}
        <iframe src="{{ IMPORTANT_NUMBERS_URL }}" id="scheduleIframe" onload="autoResize('scheduleIframe')" marginheight="0" frameborder="0" width="100%" height="1200px"></iframe>
    {% endif %}
{% endblock content %}
