{% extends "base.html" %}

{% load static %}
{% load bootstrap3 %}

{% block title %}Docs{% endblock title %}

{% block page_title %}Docs{% endblock page_title %}

{% block extra_js %}
<script type="text/javascript">
  $(function() {
    $(document).ready(function() {
    });
  });
</script>
{% endblock %}

{% comment %}
{% block header_bottom %}
  <ul class="nav nav-pills">
    <li class="active">
      <a href="#">Docs</a>
    </li>
    <li>
        <a href="{% url 'numbers' %}">Important Numbers</a>
    </li>
    <li>
        <a href="{% url 'instructions' %}">Instructions</a>
    </li>
  </ul>
{%  endblock %}
{% endcomment %}

{% block content %}
    <br/>
    <h3>
      <a href="https://docs.google.com/spreadsheets/d/1Mdo_qwNZYbaz4HyeKEs13o_AjMmubF-YuXU3_VsyAzo/edit#gid=2029102227" target="_blank">2019
  Employee Schedule</a>
    </h3>
    <br/>
    <h3>
      <a href="https://docs.google.com/spreadsheets/d/1Slb7AlNoxo1EOs-8fs63Q2-YrudyJV3vaHFR927zu04/edit#gid=4" target="_blank">
  Important Contacts</a>
    </h3>
    <br/>
    <h3>
      <a href="https://docs.google.com/spreadsheets/d/11P_s4vVk4wJJF27a2_DX5arxEvaBnV7IjtYp2TVU7jU/edit#gid=0" target="_blank">
  2019 Marketing Calendar</a>
    </h3>
    <br/>
    <h3>
      <a href="https://docs.google.com/document/d/1qsVmUvYzGBzqKggaqkBsTeUu1bov-BrOM4oiWXASen0/edit#" target="_blank">
  Timesheet Instructions (uAttend)</a>
    </h3>
    <br/>
    <h3><a href="{% url 'instructions' %}" target="_blank">FurniCloud Instructions</a></h3>
    <br/>
    {% comment %}
      {% if SCHEDULE_DOC_URL %}
          <iframe src="{{ SCHEDULE_DOC_URL }}" marginheight="0" frameborder="0" width="100%" height="1200px"></iframe>
      {% endif %}
    {% endcomment %}
{% endblock content %}
