{% extends "base.html" %}

{% load static %}
{% load bootstrap3 %}
{% load cache_bust %}

{% block title %}Store Foot Traffic Stats{% endblock title %}

{% block page_title %}Foot Traffic Stats{% endblock page_title %}

{% block extra_js %}

    <script src="{% static 'js/iframeResizer.min.js' %}"></script>

    <script type="text/javascript">
        $(function () {
            $(document).ready(function () {
                iFrameResize({
                    checkOrigin:false
                });

            });
        });
    </script>

{% endblock %}

{% block content %}
    <br/>
    <style>iframe{width: 1px;min-width: 100%;position: absolute; left:0}</style>
    <iframe src="{{ STORE_TRAFFIC_URL }}?{% cache_bust %}" class="iframe" scrolling="no" marginheight="0" frameborder="0"
        style=""></iframe>
    <!-- width="100%"
            height="1200px" -->
    {#    <iframe src="//localhost:4200/" marginheight="0" frameborder="0" width="100%" height="1200px"></iframe>#}

{% endblock content %}
