{% load bootstrap3 %}



        <div class="row">
          <div class="col-md-3">{% bootstrap_field form.tags %}</div>
        </div>

        <div class="well">
            <div class="row">
                <div class="col-md-3">
                    {% bootstrap_field form.first_name  %}
                </div>
                <div class="col-md-3">
                    {% bootstrap_field form.last_name  %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    {% bootstrap_field form.mobile %}
                </div>
                <div class="col-md-3">{% bootstrap_field form.phone %}</div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    {% bootstrap_field form.email %}
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-md-6">
            <fieldset>
              <legend>Billing Address</legend>
              <div class="col-md-8">{% bootstrap_field form.bill_addr_str show_label=False %}</div>
              <div class="col-md-4">{% bootstrap_field form.bill_addr_str2 show_label=False %}</div>
              <div class="col-md-6">{% bootstrap_field form.bill_addr_city show_label=False %}</div>
              <div class="col-md-3">{% bootstrap_field form.bill_addr_state show_label=False %}</div>
              <div class="col-md-3">{% bootstrap_field form.bill_addr_zip show_label=False %}</div>
            </fieldset>
          </div>
          <div class="col-md-6">
            <fieldset>
              <legend>Shipping Address</legend>
              <div class="col-md-8">{% bootstrap_field form.ship_addr_str show_label=False %}</div>
              <div class="col-md-4">{% bootstrap_field form.ship_addr_str2 show_label=False %}</div>
              <div class="col-md-6">{% bootstrap_field form.ship_addr_city show_label=False %}</div>
              <div class="col-md-3">{% bootstrap_field form.ship_addr_state show_label=False %}</div>
              <div class="col-md-3">{% bootstrap_field form.ship_addr_zip show_label=False %}</div>
              <label for="shippingSameAsBilling">
                  <input type="checkbox" id="shippingSameAsBilling" name="shippingSameAsBilling"/> Same as Billing
                </label>
            </fieldset>
          </div>
        </div>

        <br/>
        <fieldset>
          <legend>Additional Info</legend>
          <div class="row">
            <div class="col-md-3">{% bootstrap_field form.company %}</div>
          </div>
          <div class="row">
            <div class="col-md-6">{% bootstrap_field form.notes %}</div>
          </div>
        </fieldset>

        <hr/>

        <h4>Full Address (do not edit)</h4>
        <div class="row">
            <div class="col-md-6">
                {% bootstrap_field form.shipping_address %}
            </div>
            <div class="col-md-6">
                {% bootstrap_field form.billing_address %}
            </div>
        </div>

