{% extends "base.html" %}

{% load bootstrap3 %}
{% load render_table from django_tables2 %}

{% block title %} Customer Info{% endblock %}

{% block page_title %} Customer: {{customer}}{% endblock page_title %}
{% block extra_js %}
  {{ form.media }}
{% endblock extra_js %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
{% endblock %}

{% block content %}

  <div class="well"><a href="{% url 'customer_edit' object.pk %}" title="Edit Customer">Edit Customer</a></div>
  <hr/>


  <div class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title">Customer Details</h3>
      </div>
      <div class="panel-body">
          <div class="row customer-info">
              <div class="col-md-5" style="font-size: 2em;line-height: 130%">
                  {{ customer }}<br/>
                  <i class="fa fa-phone" aria-hidden="true"></i> 
                  {% if customer.mobile %} m.{{ customer.mobile }} {% endif %}
                  {% if customer.phone %} h.{{ customer.phone }} {% endif %} <br/>
                  <i class="fa fa-envelope" aria-hidden="true"></i> {{ customer.email }}
              </div>
              <div class="col-md-3">
                  <h4>Billing Address:</h4>
                  {{ customer.billing_address }}
              </div>
              <div class="col-md-3">
                  <h4>Shipping Address:</h4>
                  {{ customer.shipping_address }}
                  <br/><br/>
                  {% if customer.tags.all %}
                  <div class="tag-list">Tags: 
                      {% for tag in customer.tags.all %}
                          <span class="tagname"> {{ tag.name }} | </span>
                      {% endfor %}
                      </div>
                  {% endif %}
              </div>
          </div>
      </div>
  </div>

  <h3>Orders History:</h3>
  <div id="order-list">
    {% render_table customer_orders_table %}
  </div>

{% endblock content %}
