{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}Update Customer{% endblock %}

{% block page_title %}Edit Customer Information: <i style="font-style: italic">{{customer}}</i>{% endblock page_title %}
{% block extra_js %}
  {{ form.media }}

  <script type="text/javascript">
        $(function () {
          $(document).ready(function () {
            $("#shippingSameAsBilling").on("change", function() {
              let shippingSameAsBilling = $(this).prop("checked") == true;
              if (shippingSameAsBilling) {
                  $("#id_ship_addr_str").val($("#id_bill_addr_str").val());
                  $("#id_ship_addr_str2").val($("#id_bill_addr_str2").val());
                  $("#id_ship_addr_city").val($("#id_bill_addr_city").val());
                  $("#id_ship_addr_state").val($("#id_bill_addr_state").val());
                  $("#id_ship_addr_zip").val($("#id_bill_addr_zip").val());
              }
            });
          });
        })
  </script>

{% endblock extra_js %}

{% block content %}

  <form action="" method="POST" id="orderForm" role="form" class="form">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.management_form }}
    {% bootstrap_form_errors form %}

    {% include "customers/_customer_form.html" with form=form %}

    <input type="submit" id="submitButton" class="btn btn-primary btn-large" value="Save"/>

  </form>

{% endblock content %}
