{% extends "base.html" %}

{% load render_table from django_tables2 %}

{% block title %}Search{% endblock %}

{% block page_title %}Search Results{% endblock page_title %}

{% block content %}

    <div>
        You searched for: {{ query_string }}

        <h3>Matched Customers</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Billing Address</th>
                    <th>Shipping Address</th>
                </tr>
            </thead>
            <tbody>
                {% for object in found_customers %}
                    <tr>
                        <td>
                            <a href="{% url 'customer_detail' pk=object.pk %}">{{ object }}</a>
                        </td>
                        <td>
                            {% if object.phone %}
                                {{ object.phone }}
                                {% if object.mobile %}<br/>{% endif %}
                            {% endif %}
                            {% if object.mobile %}{{ object.mobile }}{% endif %}
                        </td>
                        <td>
                            {{ object.email }}
                        </td>
                        <td>
                            {{ object.billing_address }}
                        </td>
                        <td>
                            {{ object.shipping_address }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <hr/>

        <h3>Matched orders</h3>
        <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Order</th>
                        <th>Status</th>
                        <th>Customer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in found_orders %}
                        <tr>
                            <td><a href="{% url 'order_detail' pk=object.pk %}">{{ object }}</a></td>
                            <td>{{ object.get_status_display }}</td>
                            <td>{{ object.customer}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
        </table>

        <hr/>
        <h3>Matched Orders by Ack #</h3>
        <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Order</th>
                        <th>Item</th>
                        <th>Item Status</th>
                        <th>Ack #</th>
                        <th>Container #</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in found_items %}
                        <tr>
                            <td><a href="{% url 'order_detail' pk=object.order.pk %}">{{ object.order }}</a></td>
                            <td>{{ object.description }}</td>
                            <td>{{ object.get_status_display }}</td>
                            <td>{{ object.ack_num }}</td>
                            <td>{{ object.container_num }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
        </table>

        <hr/>
        <h3>Matched Orders by Container #</h3>
        <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Order</th>
                        <th>Item</th>
                        <th>Item Status</th>
                        <th>Ack #</th>
                        <th>Container #</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in found_items_container_num %}
                        <tr>
                            <td><a href="{% url 'order_detail' pk=object.order.pk %}">{{ object.order }}</a></td>
                            <td>{{ object.description }}</td>
                            <td>{{ object.get_status_display }}</td>
                            <td>{{ object.ack_num }}</td>
                            <td>{{ object.container_num }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
        </table>

    </div>

{% endblock content %}
