{% load static  %}
{% load bootstrap3 %}
{% load cache_bust %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Furnitalia Dashboard{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->

    {% bootstrap_css %}

    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <link href="{% static 'css/jquery.autocomplete.css' %}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{% static 'responsive-tables/responsive-tables.min.css' %}?{% cache_bust %}" rel="stylesheet">
    <link href="{% static 'dashboard/dashboard.min.css' %}?{% cache_bust %}" rel="stylesheet">
    <link href="{% static 'dashboard/dashboard-responsive.min.css' %}?{% cache_bust %}" rel="stylesheet">

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/project.css' %}?{% cache_bust %}" rel="stylesheet">

    <!-- Use this to quickly test CSS changes in a template,
        then move to project.css -->
    {% block extra_css %}{% endblock extra_css %}


    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->

    <!--jQuery dependencies-->
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css"/>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>-->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">FurniCloud</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% url 'order_list' as order_list %}
                {% url 'alerts_main' as alerts %}
                <!--  {% url 'order_add' as add_order  %} -->
                {% url 'claim_list' as claims %}
                {% url 'customer_list' as customers %}
                {% url 'delivery_list' as delivery_list %}
                {% url 'sales_standings_cur' as sales_standings %}
                {% url 'logout' as logout %}
                {% url 'docs' as docs %}
                {% url 'sales_standings_cur' as sales_standings_url %}
                {% url 'bonus_report' as bonus_report_url %}
                {% url 'commissions_list' as commissions_list_url %}
                {% url 'stats' as stats %}
                {% url 'warehouse' as warehouse %}
                {% url 'delivered_orders_report' as delivered_orders %}
                {% url 'cabinetry_orders_list' as cabinetry_orders %}
                {% url 'appliances_orders_list' as appliances_orders %}
                {% url 'windows_orders_list' as windows_orders %}
                {% url 'flooring_orders_list' as flooring_orders %}
                <!-- {% url 'design_orders_list' as design_orders %} -->
                {% url 'delivery_fee' as delivery_fee %}
                {% url 'stock_status' as stock_status %}

                {% if perms.orders.view_orders %}
                <li class="{% ifequal request.path order_list %}active{% endifequal %}"><a href="{{ order_list }}">Orders</a>
                </li>
                {% endif %}

                {% if perms.orders.view_orders %}
                <li class="{% ifequal request.path alerts %}active{% endifequal %}"><a
                        href="{{ alerts }}">Alerts</a></li>
                {% endif %}

                {% if request.user.is_authenticated %}
                <li><a href="{{ delivery_fee }}"><i class="fa fa-truck"></i> Delivery Fee</a></li>
                {% endif %}

                {% if request.user.is_authenticated %}
                <li><a href="{{ stock_status }}"><i class="fa fa-business-time"></i> Stock Status</a></li>
                {% endif %}

                {% if perms.orders.view_cabinetry_orders %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Other Orders<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="{% ifequal request.path cabinetry_orders %}active{% endifequal %}">
                            <a href="{{ cabinetry_orders }}">Kitchen & Bath</a>
                        </li>
                        <li class="{% ifequal request.path appliances_orders %}active{% endifequal %}">
                            <a href="{{ appliances_orders }}">Appliances</a>
                        </li>
                        <li class="{% ifequal request.path windows_orders %}active{% endifequal %}">
                            <a href="{{ windows_orders }}">Hunter Douglas</a>
                        </li>
                        <li class="{% ifequal request.path flooring_orders %}active{% endifequal %}">
                            <a href="{{ flooring_orders }}">Flooring</a>
                        </li>
                    </ul>
                </li>
                {% endif %}


                {% if request.user.is_authenticated %}
                <li><a href="{{ STORE_TRAFFIC_URL }}">Store Traffic</a></li>
                {% endif %}

                {% if perms.orders.view_sales %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Sales<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="{% ifequal request.path sales_standings %}active{% endifequal %}">
                            <a href="{% url 'sales_standings_cur' %}">Sales Totals</a>
                        </li>
                        <li class="{% ifequal request.path bonus_report_url %}active{% endifequal %}">
                            <a href="{{ bonus_report_url }}">Bonus Report</a>
                        </li>
                        <li class="{% ifequal request.path delivered_orders %}active{% endifequal %}">
                            <a href="{{ delivered_orders}}">Delivered Orders Report</a>
                        </li>
                        <li class="{% ifequal request.path commissions_list_url %}active{% endifequal %}">
                            <a href="{{ commissions_list_url }}">Commissions</a>
                        </li>
                        <li class="{% ifequal request.path stats %}active{% endifequal %}">
                            <a href="{{ stats }}">Sales Chart</a>
                        </li>
                        <!--<li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>-->
                    </ul>
                </li>
                {% endif %}


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Other<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% if perms.claims.view_claims %}
                        <li class="{% ifequal request.path claims %}active{% endifequal %}"><a
                                href="{{ claims }}">Claims</a></li>
                        {% endif %}

                        {% if perms.customers.view_customers %}
                        <li class="{% ifequal request.path customers %}active{% endifequal %}"><a
                                href="{{ customers }}">Customers</a>
                        </li>
                        {% endif %}
                        <li class="{% ifequal request.path delivery_list %}active{% endifequal %}"><a
                                href="{{ delivery_list }}">Deliveries</a></li>

                        {% if request.user.is_authenticated %}
                        <li class="{% ifequal request.path docs %}active{% endifequal %}"><a href="{{ docs }}">Docs</a>
                        </li>
                        {% endif %}
                    </ul>

                </li>


                {% if request.user.is_authenticated %}
                <li class="nav-search">
                    <form action="/search/" method="get" class="navbar-form navbar-left form-inline" role="search"
                          style="width: 13em">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control input-sm"
                                   placeholder="Search...">
                            <span class="input-group-btn">
                                    <button type="image" value="Submit" class="btn btn-default btn-sm"><span
                                            class="glyphicon glyphicon-search"></span></button>
                                </span>
                        </div>
                    </form>
                </li>
                {% endif %}

                {% if user.is_authenticated %}
                <li class="navbar-text navbar-right" style="display: inline-block;
    height: 1em;
    position: relative;
    bottom: 1em;">
                    <span style="font-size: .75em;     border-bottom: 1px solid;
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;">{{ request.user.first_name }}</span> <br/>
                    <a href="{{ logout }}" class="navbar-link" style="padding:0">Log out</a>
                </li>
                {% endif %}

            </ul>


        </div>

    </div>
</nav>

<div class="container" id="contentContainer">

    {% block header_bottom %}{% endblock header_bottom %}

    {% block actions %}
    {% endblock actions %}

    <h1>{% block page_title %}{% endblock page_title %}</h1>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}
    <p>Use this document as a way to quick start any new project.</p>
    {% endblock content %}

</div> <!-- /container -->

<footer style="margin-top:20px">
    <!--&copy;2015 Furnitalia, Inc-->
    &nbsp;
</footer>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

{% bootstrap_javascript %}

<script src="{% static 'js/jquery.formset.js' %}?{% cache_bust %}"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>


{% block extra_js %}{% endblock extra_js %}

<!-- place project specific Javascript in this file -->
<script src="{% static 'js/project.js' %}?{% cache_bust %}"></script>
<script src="{% static 'responsive-tables/responsive-tables.min.js' %}?{% cache_bust %}"></script>


</body>
</html>
