{% extends "base.html" %}

{% load bootstrap3 %}

{% block page_title %}
  <h1>Log in</h1>
{% endblock %}

{% block content %}

	{% if form.errors %}
		<p class="alert alert-danger">Your username and password didn't match. Please try again.</p>
	{% endif %}

	<form method="post" action="{% url 'login' %}" class="form">
		{% csrf_token %}
		<div class="row">
			<div class="col-md-3">
				{% bootstrap_field form.username show_label=False %}
				{% bootstrap_field form.password show_label=False %}
			</div>
		</div>

		<input type="submit" value="login" class="btn btn-primary btn-default" />
		<input type="hidden" name="next" value="{{ next }}" />
	</form>

{% endblock %}
